/* node debug styles; match to Drupal's tab styles */
.reyebrow-descartes-dcpr {
	background:#fff;
	border:1px solid #bbb;
	clear:both;
	margin:1em 0;
}

.reyebrow-descartes-dcpr h4,
#block-menu-devel h3 {
	background:#eee;
	font-weight:bold;
	padding:.375em .75em;
}

.reyebrow-descartes-dcpr pre { /* Remove font-related styles once wireframe theming is done */
	background:transparent;
	border-top:1px solid #bbb;
	font-family:"Courier New",courier,monospace;
	font-size:1em;
	font-weight:bold;
	height:600px;
	overflow:scroll;
	padding:1em;
}

#block-menu-devel {
	background:#fff;
	border:1px solid #bbb;
	z-index:1000;
}

#block-menu-devel .content {
	border-top:1px solid #bbb;
	font-size:.8em;
	padding:1em;
}

.dev-query {
	background:#fff;
	border:1px solid #bbb;
	margin:0 auto 5em auto;
	padding:1em;
	width:900px;
}

.dev-query table,
#block-admin-display-form,
table#blocks {
	width:100%;
}

.dev-query table
table#blocks {
	border-collapse:collapse;
}

.dev-query th,
table#blocks th {
	border-top:1px solid #ddd;
	font-weight:bold;
}

.dev-query th,
.dev-query td,
table#blocks th,
table#blocks td {
	padding:4px 7px;
}

.dev-query tr.odd td,
table#blocks tr.odd td {
	background:#ddd;
}

.dev-query tr td {
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
}

.dev-query .marker {
	font-weight:bold;
}

/* - Admin Menu, screen capture toggle style - */
#admin-menu #capture-toggle a {
	color:red;
	font-size:200%;
	padding:2px 8px;
}

#admin-menu #capture-toggle.off a {
	color:green;
}

#block-admin-display-form {
  background:#ccc;
  margin:18px 0;
  padding:4px;
  text-align:center;
  width:auto;
}

  #block-admin-display-form #edit-submit {
    margin:18px 0;
  }
  
    table#blocks .even td {
      background:#efefef;
    }
    
    table#blocks .odd td {
      background:#dedede;
    }
  
    table#blocks thead th,
    table#blocks tbody td {
      border-bottom:1px solid #fff;
      color:#000;
      padding:9px 12px;
    }
    
    table#blocks tbody tr:hover td {
      background:#fff;
    }
      
      table#blocks tbody td a {
        font-weight:bold;
        text-decoration:none;
        text-transform:capitalize;
      }
      
      table#blocks tbody td a:hover,
      table#blocks tbody td a:active {
        text-decoration:underline;
      }
  
    table#blocks thead th,
    table#blocks td.region {
      border-style:none;
      font-weight:bold;
      text-transform:uppercase;
    }
    
    table#blocks td.region {
      background:#877F77;
      border-bottom:1px solid #fff;
      color:#fff;
    }
    
    table#blocks tr:hover td.region {
      background:#877F77;
    }
    
    table#blocks .region-message td {
      color:#999;
      font-style:italic;
      text-align:center;
      padding:18px 9px;
    }


.dev-query .marker {
	font-weight:bold;
}


/* - Admin Menu, screen capture toggle style - */
#admin-menu #capture-toggle a {
	color:red;
	font-size:200%;
	padding:2px 8px;
}

#admin-menu #capture-toggle.off a {
	color:green;
}


/* Tab styling */
div.tabs {
  background:#ddd; overflow:auto; margin:18px 0; padding:4px 2px;
  -moz-border-radius:6px; -webkit-border-radius:6px;
}

  ul.tabs.primary,
  ul.tabs.secondary {
    border-style:none; margin:0; padding:0;
  }

  ul.tabs.primary {
    float:left;
  }
  
    ul.tabs.primary li {
      display:inline;margin:0;padding:0;
    }
    
      ul.tabs.primary li a {
        background:#fff;border-style:none;color:#877f77; display:block; font-weight:bold; float:left; margin:0 2px; padding:6px 12px; text-transform:uppercase;
        -moz-border-radius:4px; -webkit-border-radius:4px;
      }
      
      ul.tabs.primary li a:hover,
      ul.tabs.primary li a:active {
        background:#877f77;
        color:#fff;
      }
      
      ul.tabs.primary li.active a {
        background:#877f77; color:#fff;
      }
      
    ul.tabs.secondary {
      border-top:1px solid #fff; clear:both; display:block; margin:0 2px; padding:0 0 4px 0; position:relative; top:4px;
    }
    
      ul.tabs.secondary li {
        border-style:none; display:block; float:left; margin:0 !important; padding:6px 0;
      }
      
        ul.tabs.secondary li a {
          border-bottom-style:none; border-right:1px solid #fff; display:block; float:left; font-weight:bold; margin-right:9px; padding:0 9px 0 0;
        }
        

/* Block region styles */
div.block-region {
  background:#d2d8a1; clear:both; font-weight:bold; margin:18px 0; padding:9px 0; text-align:center; text-transform:uppercase;
  -moz-border-radius:6px; -webkit-border-radius:6px;
}

div.block-region:after {
  content: " block region";
}


/* Warning styles */
div.warning {
  margin:18px 0; padding:9px; text-align:left;
}