/* Rollover edit links for blocks and views */
.views-admin-links,
.block.with-block-editing {
  position: relative;
}

	/* Basic styles */
	.view .views-admin-links ul,
	.block.with-block-editing .edit { /* Note: font-size, line-height specified in pixels to maintain consistency in regions with different font sizes */
		background-color:#fff; border:2px solid #3a3a3a; color:#3a3a3a; display:none; font-size:11px; line-height:13px; margin:0; padding:5px !important; position:absolute; top:5px; z-index:40;
	  -moz-border-radius:5px; -webkit-border-radius:5px;
	}
  
		.view .views-admin-links ul li {
			margin:0; padding:0;
		}

		.views-admin-links.views-hide a,
  	.block.with-block-editing .edit a,
  	.block.with-block-editing .edit a span {
  		color:#3a3a3a !important; font-style:normal; text-transform:uppercase;
  	}

	/* Hover styles */
	.view:hover .views-admin-links ul,
  .block.with-block-editing:hover .edit {
    display:block;
  }
  
  .view:hover .views-admin-links ul {
  	left:5px;
  }

	.block.with-block-editing:hover .edit {
		right:5px;
	}