/* IE6 css fixer v0.95: Mon, 25 Apr 2011 23:39:58 +0200 */

/* ============================================= */
/* safe settings                                 */

/* add display:inline to floated elements */
.layout-2-1 .dc-main,.layout-3-1-2 .dc-main,
.layout-1-2 .dc-main,.layout-2-1-3 .dc-main,
.layout-3-1-2 .dc-div .dc-main,
.layout-2-1-3 .dc-div .dc-main,
#in-content-blocks,
#in-content-left,
#in-content-right,
#hd #site-name,
#hd #search-theme-form,
ul.primary-links,
#hd ul.secondary-links li,
#utilities,
.page-organizations ul.tabs.primary,.page-resources-databases ul.tabs.primary,.page-licenses ul.tabs.primary,
.page-organizations ul.tabs.primary li a,.page-resources-databases ul.tabs.primary li a,.page-licenses ul.tabs.primary li a,
.page-resources-databases ul.tabs li.btn label,
.node-type-resource .content .col,
.node-type-resource .content .inset,
#contact-wrapper .content img,
.image-left,
.image-right,
.block-search,
#block-re_utilities-0 ul.links li,
.logged-in #block-re_utilities-0 ul.links li.first a,
#block-block-1,
#block-menu-menu-footer ul.menu li,
.views-exposed-widget,
.view-og-members-block.view-display-id-block_1 .picture,
.front .dc-div .view-Blog .views-row,
#dashboard .pane-resources .more-link,
.layout-2-1 .dc-sub,.layout-3-1-2 .dc-sub,.layout-2-1-3 .dc-div .dc-sub,#bd #block-user-0,
.layout-1-2 .dc-sub,.layout-2-1-3 .dc-sub,.layout-3-1-2 .dc-div .dc-sub,
#views-exposed-form-resources-page-1,#dashboard .pane-profile .picture img,
#block-block-2,#block-menu-menu-footer {display:inline;}

#block-re_utilities-0 ul.links {
  float: right;
}

/* fix negative margins */
.layout-2-1 .dc-main,.layout-3-1-2 .dc-main,
.layout-1-2 .dc-main,.layout-2-1-3 .dc-main,
.layout-3-1-2 .dc-div .dc-main,
.layout-2-1-3 .dc-div .dc-main,
.page-organizations ul.tabs.primary li,.page-resources-databases ul.tabs.primary li,.page-licenses ul.tabs.primary li,
#views-exposed-form-resources-page-1 .views-exposed-form,
#contact-wrapper .content img,
.view-resources table,.view-contacts table,.view-licenses table,.view-trials table,.view-organizations table,.view-vendors table,.page-forum table {position:relative; zoom:1;}

/* add zoom:1 to overflow:hidden */
.page-organizations div.tabs,
.page-resources-databases div.tabs,
.page-licenses div.tabs,
.page-organizations ul.tabs.primary,
.page-resources-databases ul.tabs.primary,
.page-licenses ul.tabs.primary,
html.js fieldset.collapsible .fieldset-wrapper {zoom:1;}

/* add zoom:1 to pos:relative elements */
#hd,
.node-type-resource .dc-main .dc-div,
#dashboard .pane-og-which-gorups,
.node-type-group #og-page .pane-og-mytracker,
.node-type-group #og-page .pane-events,
.node-type-group #og-page .pane-og-members-block,
.dc-div,
.page-resources-databases .dc-div {zoom:1;}

/* add zoom:1; display:inline; to inline-block elements */
.node ul.links.inline,
a.button {zoom:1; display:inline;}

/* add overflow:visible to (submit) buttons */
 input, button {overflow:visible;}


/* ============================================= */
/* potentially harmful settings                  */

/* add zoom:1 to backgrounds -- Manually check for problems with inline elements! */
body,
fieldset,
table th,
blockquote,
#hd-wrapper,
#hd #search-theme-form,
#hd ul.secondary-links li a,
#hd #breadcrumb,
.node ul.links.inline li.print_html,
.page-node .field,
.more-link,
.page-organizations ul.tabs.primary li a,
.page-resources-databases ul.tabs.primary li a,
.page-licenses ul.tabs.primary li a,
.view-resources .view-filters,
.page-resources-databases ul.tabs li.btn label,
#ft,
.node-type-resource #return-res,
.node .content .field.private-note,
.node-type-resource .content .row,
.node-type-resource .node fieldset,
html.js .node-type-resource fieldset.collapsed legend a,
html.js .node-type-resource fieldset.collapsible legend a,
#block-menu-menu-authenticated,
#block-menu-menu-authenticated h3,
#block-block-3 .stico_default,
.front #block-menu_block-1 ul.menu li a,
.not-front #block-menu_block-1,
#block-re_utilities-0 ul.links li,
#block-re_utilities-0 ul.links li a.register,
#block-re_utilities-0 ul.links li a.login,
#block-re_utilities-0 ul.links li a.logout,
#block-re_utilities-0 ul.links li a.search,
.logged-in #block-re_utilities-0 ul.links li.first,
#hd #block-user-0,
#hd #block-user-0 .form-submit,
#bd #block-user-0 .form-submit,
#block-views-Blog-block_2,
#block-views-Blog-block_3,
#block-views-events-block_1,
#block-views-events-block_2,
#block-views-trials-block_1,
#bd #block-user-0,
.view .attachment .view-content,
.view-filters,
#block-views-Blog-block_6,
#block-views-quotes-block_1,
#block-views-quotes-block_1 blockquote,
.view-resources table td,
.view-resources table th,
.view-contacts table td,
.view-contacts table th,
.view-licenses table td,
.view-licenses table th,
.view-trials table td,
.view-trials table th,
.view-organizations table td,
.view-organizations table th,
.view-vendors table td,
.view-vendors table th,
.page-forum table td,
.page-forum table th,
.view-resources table tr.even,
.view-resources table tr.odd,
.view-contacts table tr.even,
.view-contacts table tr.odd,
.view-licenses table tr.even,
.view-licenses table tr.odd,
.view-trials table tr.even,
.view-trials table tr.odd,
.view-organizations table tr.even,
.view-organizations table tr.odd,
.view-vendors table tr.even,
.view-vendors table tr.odd,
.page-forum table tr.even,
.page-forum table tr.odd,
#dashboard .pane-profile,
#dashboard .pane-profile .edit-profile a,
#dashboard .pane-signup-current-signups,
#dashboard .pane-colleagues,
#dashboard .pane-resources h2,
#dashboard .pane-resources .more-link,
#dashboard .pane-og-my,
#dashboard .pane-og-my .view-og-my table th,
#dashboard .pane-og-which-gorups h3.group-title,
.with-block-editing a:hover,
.node-type-resource .content .row .field,
#block-re_utilities-0 .content,
.view-resources table tr,
.view-contacts table tr,
.view-licenses table tr,
.view-trials table tr,
.view-organizations table tr,
.view-vendors table tr,
.page-forum table tr,
table tr,
.page-forum table thead tr,
#dashboard .pane-resources .view-resources .row,
table tr.odd,
table thead tr,
table tr.even,
.page-organizations ul.tabs.primary li.active a,
.page-resources-databases ul.tabs.primary li.active a,
.page-licenses ul.tabs.primary li.active a,
.page-organizations ul.tabs.primary li a:hover,
.page-resources-databases ul.tabs.primary li a:hover,
.page-licenses ul.tabs.primary li a:hover,
.node-type-resource fieldset.collapsed,
#dashboard .pane-og-my .view-og-my table,
#dashboard .pane-og-my .view-og-my table th,
#dashboard .pane-og-my .view-og-my table tr,
#dashboard .pane-og-my .view-og-my table td,
.node-type-forum .groups,
.node-type-forum .forum-topic-navigation {zoom:1;}

#hd #search-theme-form {
  display: none;
}

.sitecredit {
  margin-left: 255px;
}

#hd #block-user-0 {
  z-index: 500;
}

#hd {
  z-index: 10;
}

#admin-menu {
  position: absolute !important;
}

.front #block-menu_block-1 li {
  margin-left: 0 !important;
  margin-right: 0 !important;

  width: 225px !important;
}

    #block-menu_block-1 li a {
      display: inline !important;
    }

.dc-main {
  padding-bottom: 20px;
}

/* 
div.tabs {
  float: left;
}

*/
