/* Overall container styles
------------------------------------------------------------*/
#dc-container { margin:0 auto; width:950px; }
/* Basic styles for two columns plus gutter
------------------------------------------------------------*/
/* LH column in 2-1, 3-1-2 */
.layout-2-1 .dc-main, .layout-3-1-2 .dc-main { float:right; margin:0 0 0 -257px; }
.layout-2-1 .dc-sub, .layout-3-1-2 .dc-sub { float:left; width:215px; }
.layout-2-1 .dc-main .dc-div, .layout-3-1-2 .dc-main .dc-div { margin:0 0 0 257px; }
/* RH column in 1-2, 2-1-3 */
.layout-1-2 .dc-main, .layout-2-1-3 .dc-main { float:left; margin:0 -232px 0 0; }
.layout-1-2 .dc-sub, .layout-2-1-3 .dc-sub { float:right; width:224px; position: relative; }
.layout-1-2 .dc-main .dc-div, .layout-2-1-3 .dc-main .dc-div { margin:0 232px 0 0; }
/* Additional styles for third columns plus gutter
------------------------------------------------------------*/
/* RH column styles in 3-1-2 */
.layout-3-1-2 .dc-div .dc-main { float:left; margin:0 0 0 -232px; display:inline; }
.layout-3-1-2 .dc-div .dc-sub { float:right; width:224px; }
.layout-3-1-2 .dc-div .dc-main .dc-div { margin:0 0 0 232px; }
/* LH column styles in 2-1-3 */
.layout-2-1-3 .dc-div .dc-main { float:right; margin:0 -257px 0 0; display:inline; }
.layout-2-1-3 .dc-div .dc-sub { float:left; width:215px; }
.layout-2-1-3 .dc-div .dc-main .dc-div { margin:0 257px 0 0; }
/* Constant styles
------------------------------------------------------------*/
#bd { _height:1px; } /* Make IE6 enclose columns */
#hd, #bd, #ft { clear:both; }
#hd:after, #bd:after, #ft:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.dc-container { margin:auto; }
.dc-div { position:relative; } /* to preserve source-order independence for Gecko */
.dc-main .dc-div { position:static; } /* to preserve source-order independence for Gecko */
.dc-main { width: 100%; }
.dc-main .dc-div { float:none; width:auto; }
.dc-main .dc-div .dc-main { display:inline; } /* Correct IE6 doubled margin bug */
/* Two column block region styles 
------------------------------------------------------------*/
#in-content-blocks {float:left;width:100%;}
#in-content-left {float:left;width:220px;}
#in-content-left.no_content_right {float:none;width:auto;}
#in-content-right {float:right;width:220px;}
#in-content-right.no_content_left {float:none;width:auto;}
