/* !Dashboard */
#dashboard .panel-pane,
#og-page .panel-pane {
  border-bottom:1px dotted #ccc;
  margin:0 0 0.5em 0;
  padding:0 0 0.5em 0;
}

  #dashboard .panel-pane h2,
  #og-page .panel-pane h2 {
    line-height:1.85;
  }

/* !Groups Sub Nav */
.pane-og-menu-0 ul.menu {
  border-collapse: collapse;
  padding: 0 0 0 1em;
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #BBB;
}

  .pane-og-menu-0 ul.menu li {
    display: inline;
  }

    .pane-og-menu-0 ul.menu li a {
      background-color: #DDD;
      border-color: #BBB;
      border-width: 1px;
      border-style: solid solid none solid;
      height: auto;
      margin-right: 0.5em;
      padding: 0 1em;
      text-decoration: none;
    }

    .pane-og-menu-0 ul.menu li.active a {
      background-color: white;
      border: 1px solid #BBB;
      border-bottom: white 1px solid;
    }