	/* $Id: print.css,v 1.1.2.2 2008/08/21 22:03:40 jcnventura Exp $ */

body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {display: none;}
.print-breadcrumb {display: none;}
.print-title {}
.print-submitted {display: none;}
.print-created {display: none;}
.print-taxonomy {
  text-align: right;
}
.print-taxonomy li {display: inline;}
.print-content {}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {display: none;}

#last-updated { margin: 2em 0 0 0; font-size:x-small}

  #hd, #ft, #sub-1, #sub-2, #block-re_utilities-0, div.tabs, .print_html, .krumo-root  { display:none; } /* Remove print-irrelevant layout items */
	#bd, .dc-main, .dc-div, .dc-sub, .view-content, #dc-container { border-style:none; margin:0 !important; padding:0 !important; overflow: visible; width: auto !important; float: none !important; } /* Rejigger margins and padding on main layout containers */
	body { font-size:10pt; line-height:18pt; } /* Use print-friendly units */
	a, body, h1, h2, h3, h4, h5, h6, dl, ol, p, ul { color:#000; } /* Use print-friendly colours */
	a { text-decoration:underline; } /* Make links look like links */
	a:after { content:' (' attr(href) ')'; } /* Show link urls after links */
  
  .views-field-edit-node, .views-admin-links, #block-context_ui-devel { display: none; }
  
  .node .content, .dc-div, .view-content {
    /* margin-right: 150px !important;
    overflow: visible !important;
    width: auto !important; */
  }
  
  table tr {
    border-bottom: 1px dashed #000;
  }
  
  html.js fieldset.collapsible * {
    display: block !important;
  }
  
  html.js fieldset.collapsed {
    height: auto !important;
  }