$white: #FFF;
  
/* -- Violets -- */
$violet-dark-gradiant:  #4C1E4F; // Violet Dark Used in Banner 
$violet-light-gradiant: #712C76; // Violet Light Gradiant Used in Banner

$violet-dark: #712C76;  // Main Page titles , Menu Items,
$violet-medium: #97649B; // Top level layover in Secondary titles front page blocks
$violet-light: #CEB6D0; // Bottom level layover in Secondary titles front page blocks
$violet-super-light:#CCB2CD; // Footer Links




/* -- Vibrant Colors -- */
$yellow: #FFAD00; // Brand-band & drop-down triangles , LEARN MORE
$dark-cyan: #008499; // Read More and See More colors, Magnifying Box BG
$orange: #ffad00;   // Learn More text
  
/* -- greys -- */
$grey-light:  #F6F6F6; // Secondary titles front page blocks BG
$grey-medium: #E9E9E9; // Secondary titles front page blocks BG, Search Box BG
$grey-dark:   #333333; // Main Content Text Color
  
  
/* -- adding some meaning to colors -- */
$color-txt: $grey-dark;
$color-menu-item: $violet-dark;
$color-footer-link: $violet-super-light;  
$color-link: $violet-dark;
  
//$btn-bg-color: $blue-medium;
//$btn-txt-color: $white;
//$btn-hover-bg-color: $grey-darker;
//$btn-hover-txt-color: $white;
//
//$btn-sec-bg-color: $grey-darker;
//$btn-sec-txt-color: $blue-medium;
//$btn-sec-hover-bg-color: $blue-medium;
//$btn-sec-hover-txt-color: $white;
