$space-width: 0.2222em;
  
// Base size and height
$font-size: 18px;
$line-height: 1.5em;
  
// Font families
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-georgia: Georgia,Times,Times New Roman,serif;
  
// Font sizes
$fz-h1: 48px;
$fz-h2: 38px;
$fz-h3: 24px;
$fz-h4: 24px;
$fz-h5: 18px;
$fz-h6: 20px;
  
  
// Font weights
$fw-light:     300;
$fw-normal:    400;
$fw-semi-bold: 600;
$fw-bold:      700;

