dbrestore.sh
dbdump.sh
private
public_html/error_log
sites/*/settings.php
sites/*/default.settings.php
sites/*/files
sites/*/privatei
sites/*.local
public_html/backup
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.cpanel/
.dns
.drush/
.ftpquota
.gitconfig
.lastlogin
.ssh/
CPanel-restores/
Swift-4.0.6/
access-logs
etc/
mail/
public_ftp/
tmp/
www
._ehlbc
.autorespond/
.fontconfig/
.gemrc
.softaculous/
.subversion/
.viminfo
backup/
drupal-6*/
drush*
*.sql
mailmantest/
test/
error_log

