
//
//GENERAL styles for homepage Blocks as well as header and footer
//

//Content body ONLY in front page 
.front .l-content {
	.block {
		margin-top: 40px;
		.more-link {
			text-align: left;
		}
		h2.block__title:before {
			background: url('../images/block-header-bg-before.png') no-repeat scroll top left;
			width: 22px;
			height: 64px;
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: -22px;
		}
		h2.block__title:after {
			background: url('../images/block-header-bg-after.png') no-repeat scroll top left;
			width: 26px;
			height: 64px;
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			right: -26px;
		}
		;
		h2.block__title {
			background: url('../images/block-head-repeat.png') top left;
			background-repeat: repeat-x;
			width: 82%;
			height: 64px;
			font-size: $fz-h3;
			padding: 0 15px ;
			padding-top: 25px;
			margin-bottom: 0px;
			text-transform: uppercase;
			color:$white !important;
			font-weight: $fw-semi-bold;
			position: absolute;
			top: -25px;
			left: 22px;
		}
		.block__content {
			margin-bottom: 35px;
			.view-content {
				margin-bottom: 50px;
			}

		}
		.block__content > div {
			padding-left: 23px;
			padding-right: 33px;
			background: $grey-light;
			border-bottom: 2px solid $orange;
			padding-top: 70px;
			padding-bottom: 20px;
		}
		//override for main homepage block
		.view-id-services {
			background: $white !important;
			border: none !important;
			padding-top: 20px !important;
		}

	}
.field__items ul li {
	   padding-left: 30px;
}
.view-content{
	margin-top:20px;
}
}
//Specific block verriders
#block-boxes-partner-libraries-home {
	margin-top: 70px;
	@include grid-span(12,1);
	.boxes-box-content {
		a {
			font-weight: $fw-semi-bold;
			color: $violet-dark;
		}
		h2:before {
			background: url('../images/block-header-bg-before.png') no-repeat scroll top left;
			width: 22px;
			height: 64px;
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: -22px;
		}
		h2:after {
			background: url('../images/block-header-bg-after.png') no-repeat scroll top left;
			width: 26px;
			height: 64px;
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			right: -26px;
		}
		h2 {
			background: url('../images/block-head-repeat.png') top left;
			background-repeat: repeat-x;
			height: 64px;
			font-size: $fz-h3;
			padding: 0 15px ;
			padding-top: 25px;
			margin-bottom: 0px;
			text-transform: uppercase;
		  @include font-weight($fw-semi-bold);
			position: absolute;
			top: -25px;
			left: 22px;
			width: 84%;
		}
		@include breakpoint($tablet-layout) {
			h2 {
				width: 92%;
			}

		}
		@include breakpoint($desktop-layout) {
			h2 {
				width: 95%;
			}

		}

	}

}
.front .view-organizations {
	@include grid-span(12,1);
	margin-bottom: 50px;
	.view-content {
		.views-row {
			float: left;
			margin-right: 5px;
		}

	}

}
#boxes-box-partner_libraries_home.boxes-box {
	@include breakpoint($tablet-layout) {
		background: $white !important;
		border: none !important;
	}

}
#block-boxes-partner-libraries-home .block__content {
	margin-bottom: 15px;
}
#block-views-blog-connect-newsletter-block {
	.block__content {
		.view-content {
			margin-bottom: 30px;
		}
		.field--name-body {
			margin-bottom: 50px;
		}

	}

}
//
//footer Blocks
//
#boxes-box-newsletter {
	margin: 0px 31px;
	.boxes-box-content {
		background: $dark-cyan;
		text-align: center;
		a {
			display: inline-block;
			padding: 10px;
		}
		.news-letter-icon {
			@include fontello-icon('\e802') {
				font-size: 1.0em;
				cursor: pointer;
				color: $orange;
				position: relative;
				margin-right: 10px;
			}

		}
		.news-letter-text {
			float: right;
			color: $white;
			font-size: $fz-h2;
			font-weight: $fw-semi-bold;
		}

	}

}
//General Overrides
.block__content .views-row {
	margin-bottom: 10px;
}
.views-row strong {
	@include font-weight($fw-normal);
	span.date-display-single {
		margin-left: 21px;
	}

}

//
//Block title #block-re-utilities-section-nav replacing the front page #block-boxes-homepage in non front pages 
//
#block-re-utilities-section-nav {
	position: relative;
	
	.block__content {
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 0px;
		padding: 13px;
		margin-left: 0;
		z-index: 1000;
	}
	
	@include breakpoint($tablet-layout) {
		&:before {
			opacity: 0.7;
			top: -6px;
			left: 2%;
			content: '';
			width: 215px;
			height: 140px;
			display: block;
			position: absolute;
			background: url("../images/header-bg-small-small.png") no-repeat;
			z-index: 0;
		}
		.block__content {
			margin-left: 65px;
			padding: 22px;
			z-index: 10000;
		}

	}
	@include breakpoint(1111px) {
		.block__content {
			margin-left: 94px !important;
			z-index: 10000;
		}
		&:before {
			background: url("../images/header-bg-small.png") no-repeat;
			top: -19px;
		}

	}

}


//
//IN THIS SECTION GENERIC BLOCKS Within l-region--sidebar-second
// =================================

.l-region--sidebar-second {
	.block {
		padding-left: 23px;
		padding-right: 33px;
		padding-top: 70px;
		padding-bottom: 20px;
		h2.block__title {
			background-color: $violet-super-super-light;
			text-align: center;
			padding: 9px 20px;
			margin-bottom: 25px;
		}
		ul.menu li {
			padding-bottom: 8px;
			padding-left: 8px;
			text-align: left;
			
			a {
				line-height: 25px;
				color: $violet-dark;
				font-weight: $fw-semi-bold;
				@include fontello-icon('\e800','before') {
					font-size: 0.8em;
					margin-left: 0.3em;
					margin-right: 0;
					position: relative;
					color: $orange;
					cursor: pointer;
				}

			}

		}
		.block__content {
			//		    padding: 0 5px;
			border-bottom: 2px solid $orange;
		}
		.block__content > div {
			width: 90%;
			margin :0 auto;
			padding-bottom: 20px;
		}
		ul.menu li a.active-trail {
			color: $grey-dark !important;
		}
		ul.menu li a.active-trail:hover {
			color: $grey-dark !important;
		}

	}

}


//
//IN THIS SECTION <sidebar second's FIRST  IN THIS SECTION MENU BLOCK
// =================================
#block-menu-block-1 {
	padding-left: 23px;
	padding-right: 33px;
	padding-top: 70px;
	padding-bottom: 20px;
	h2.block__title {
		background-color: transparent !important;
		text-align: left;
		padding: 0 0 20px 13px;
		margin-bottom: 0px;
	}
	ul.menu li {
		padding-bottom: 8px;
		padding-left: 22px;
		display: block;
		position: relative;
		padding-bottom: 15px;
		a {
			font-size: $fz-mid;
			line-height: 15px;
			color: $violet-dark;
			font-weight: 800;
			@include fontello-icon('\e800','before') {
				font-size: 0.8em;
				margin-left: 0.3em;
				margin-right: 0;
				position: absolute;
				left: -2px;
				top: 3px;
				font-size: $fz-h2;
				color: $orange;
				cursor: pointer;
			}

		}

	}
	ul.menu li a.active-trail {
		color: $grey-dark !important;
	}
	ul.menu li a.active-trail:hover {
		color: $grey-dark !important;
	}

}
.view .node{
	    margin-bottom: 10px;
}

