
//
//GENERAL styles for homepage Blocks
//


#block-views-blog-block-6,#block-views-trials-block-2,#block-views-blog-block-7,#block-boxes-partner-libraries-home{
	margin-top:40px;
	.more-link{
		text-align: left;
	}
	h2.block__title:before{
		background: url('../images/block-header-bg-before.png') no-repeat scroll top left;
		width: 22px;
		height: 64px;
		content: '';
	    display: block;
		position:absolute;
		top:0px;
		left:-22px;
	}
	h2.block__title:after{
		background: url('../images/block-header-bg-after.png') no-repeat scroll top left;
		width: 26px;
		height: 64px;
		content: '';
	    display: block;
		position:absolute;
		top:0px;
		right:-26px;
	};
	h2.block__title{
		background: url('../images/block-head-repeat.png') top left;
		background-repeat: repeat-x;
		width: 290px;
		height: 64px;
		font-size:$fz-h3;
		padding:0 15px ;
		padding-top:25px;
		margin-left:26px;
		margin-bottom:0px;
		text-transform:uppercase;
		font-weight:$fw-semi-bold;
		position: absolute;
	    top: -25px;
	}
	.block__content{
		margin-bottom:35px;
		.view-content{
			margin-bottom:50px;
		}
	}
	.block__content > div{
		padding-left:23px;
		padding-left:33px;
		background:$grey-light;
		margin-left:4px;
		border-bottom:2px solid $orange;
		padding-top:70px;
		padding-bottom:20px;
		
	}
}
//General overriders
#block-boxes-partner-libraries-home, .view-organizations{
	@include grid-span(12,1);
}

#block-views-blog-block-7{
	.block__content{
		.view-content{
			margin-bottom:0px;
		}
		.field--name-body{
				margin-bottom:50px;
		}
	}
}

