
//
// Branding AND Branding Region
// =================================

.l-branding{
	position:relative;
    height: 157px;
	.site-logo{
		margin-left:17px;
		position:absolute;
	    margin-top: 47px;
		
	}
	.l-region--branding {

		#block-search-form {
			position: absolute;
		    right: 1.15741%;
		    top: 20px;
		}
		#block-menu-block-2 {
			position:absolute;
			right: 3%;
		    top: 83px;
			.menu-name-main-menu{
				ul.menu {
				    list-style-type: none;
				    margin: 0;
				    padding: 0;
				
					li {
					    margin-right: 20px;
					    width: 120px;
					    display: inline-block;
					    text-align: center;
						a {
							text-decoration:none;
						}
					}
				}
			}
		}
	}

}
.l-branding:before {
    content: '';
    height: 7px;
    background-color: $yellow;
    width: 97.68519%;
    margin-right: 1.15741%;
    margin-left: 0;
	clear:none;
    float: right;
    display: block;
    margin-bottom: 37px;
};
.l-branding:after{
	content: '';
	height: 23px;
	background-color: #CEB6D0;
	display: none;
	right: 0px;
	bottom: 0px;
	position: absolute;
	margin-right: 1.15741%;
};  
@include breakpoint($max-width-layout){
	.l-branding:after{
		width:63.55%;
		display: block;
	}
}
//
// Header Region 
// =================================


.l-region--header{
	background:$violet-dark-gradiant;
	position:relative;
	#block-boxes-homepage{
	    @include clearfix;
	    @include grid-container;
		.block__content{
			background: -webkit-linear-gradient(left, $violet-dark-gradiant , $violet-light-gradiant, $violet-dark-gradiant); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(right, $violet-dark-gradiant, $violet-light-gradiant, $violet-dark-gradiant); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(right, $violet-dark-gradiant, $violet-light-gradiant, $violet-dark-gradiant); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, $violet-dark-gradiant , $violet-light-gradiant, $violet-dark-gradiant); /* Standard syntax */
		}
		#boxes-box-homepage{
		
	    background: url("../images/header-bg.png") no-repeat;
	    height: 312px;
	    position: relative;
	    @include grid-span(12,1);
		}
		.boxes-box-content{
			position:absolute;
		    top: 15%;
		    left: 8%;
		    width: 85%;
			h3{
				color:$white;
				font-size:24px;
			    font-weight: $fw-semi-bold;
			    line-height: 24px;
			}
			.learn-more-header {
                @include fontello-icon('\e800','after') {
                   font-size: 1.0em;
                   margin-left: 0.3em;
                   margin-right: 0;
                   position: relative;
				   color:$orange;
				   cursor:pointer;
                 }
			    padding: 4px 14px;
			    background-color: $violet-dark;
			    font-size: 16px;
			    margin-left: 20px;
			    padding-right: 10px;
				a {
				    color: $orange;
				    text-decoration: none;
				    text-transform: uppercase;
					
				}
			}
		}	
		@include breakpoint($tablet-layout){
			.boxes-box-content{
				position:absolute;
			    top: 30%;
			    left: 13%;
			    max-width: 870px;
				h3{
					color:$white;
					font-size:30px;
				    line-height: 30px;
				}
				
			}
			
		}
	}
}
//
// Content
// =================================
.l-content:before{
    content: '';
    height: 23px;
    background-color:$violet-light;
    width: 100%;
    margin-right: 1.15741%;
    margin-left: 0;
	clear:both;
    display: block;
	bottom:-23px;
	left:0px;
    margin-bottom: 40px;
};
@include breakpoint(880px) {
	.l-content:before{
	    width: 880px;
	}
}
.l-content{
	#block-views-services-block{
		margin-bottom:110px;
		.views-view-grid{
			.col-1{
				padding-bottom:20px;
	         	@include grid-span(12, 1);
				.group-left{
					@include grid-span(6,1);
				}
				.group-right{
					@include grid-span(6,7);					
				}
			 	@include breakpoint($tablet-layout) {
					padding-bottom:0px;
					
		         	@include grid-span(12, 1);
					.group-left{
						@include grid-span(4,3);
					}
					.group-right{
						@include grid-span(6,6);
					}
			  	}
			 	@include breakpoint($desktop-layout) {
					padding-bottom:0px;
					@include grid-span(6,1);
					.group-left{
						@include grid-span(4,1);
					}
					.group-right{
						@include grid-span(8,5);					
					}
			  	}
			}
			.col-2{
				padding-bottom:20px;
	         	@include grid-span(12, 1);
				.group-left{
					@include grid-span(6,1);
				}
				.group-right{
					@include grid-span(6,7);					
				}
			 	@include breakpoint($tablet-layout) {
					padding-bottom:0px;
		         	@include grid-span(12, 1);
					.group-left{
						@include grid-span(4,3);
					}
					.group-right{
						@include grid-span(6,6);					
					}
			  	}
   			 	@include breakpoint($desktop-layout) {
					padding-bottom:0px;
   					@include grid-span(6,7);
					.group-left{
						@include grid-span(4,1);
					}
					.group-right{
						@include grid-span(8,5);					
					}
   			  	}


			}
		}
	}
	#block-views-trials-block-2{
		@include grid-span(12,1);
		@include breakpoint($desktop-layout){
			@include grid-span(4,1);
		}
	}
	#block-views-blog-block-6{
		@include grid-span(12,1);
		@include breakpoint($desktop-layout){
			@include grid-span(4,5);
		}
	}
	#block-views-blog-block-7{
		@include grid-span(12,1);
		@include breakpoint($desktop-layout){
			@include grid-span(4,9);
		}
	}
}
//
// Footer
// =================================
.l-footer{
	position:relative;
	.site-logo-footer{
		display:none;
	}
	@include breakpoint($desktop-layout) {
		.site-logo-footer{
			display:block;
		}
	}
	.footer-first-wrapper{
		background:$violet-dark-gradiant;
	}
	.l-region--footer-first{
	    @include grid-container;
	    @include clearfix;
		background: -webkit-linear-gradient(left, $violet-dark-gradiant , $violet-light-gradiant, $violet-dark-gradiant); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, $violet-dark-gradiant, $violet-light-gradiant, $violet-dark-gradiant); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, $violet-dark-gradiant, $violet-light-gradiant, $violet-dark-gradiant); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, $violet-dark-gradiant , $violet-light-gradiant, $violet-dark-gradiant); /* Standard syntax */
		padding:30px 0px;
		#block-menu-menu-about-bc-eln,#block-menu-menu-licensing,
		#block-menu-menu-partner-libraries,#block-menu-menu-services-initiatives,
		#block-boxes-newsletter {
		    @include grid-span(12, 1);
			padding-bottom:20px;
		}
	 	@include breakpoint($tablet-layout) {
			#block-menu-menu-about-bc-eln{
			    @include grid-span(2, 1);
			}
			#block-menu-menu-licensing{
			    @include grid-span(2, 3);
			}
			#block-menu-menu-partner-libraries{
			    @include grid-span(2, 5);
			}
			#block-menu-menu-services-initiatives{
			    @include grid-span(4, 7);
			}
			#block-boxes-newsletter{
			    @include grid-span(2, 11);
			}
	  	}
	}
	
	.l-region--footer-second{
	    @include grid-container;
	    @include clearfix;
		padding:30px 0px;
		position:relative;
		//responsive layout
		#block-block-15{
			padding-bottom: 45px;
			.block__content{
				font-size:$fz-small;
				line-height:$line-height-footer;
			}
		}
		#block-block-16{
			.block__content{
				font-size:$fz-small;
				line-height:$line-height-footer;
			}
		}
		#block-block-10, #block-menu-menu-footer{
		    position: absolute;
		    bottom: 5px;
			.block__content{
				font-size:$fz-ex-small;
				line-height:$line-height-footer;
			}
		}
		#block-menu-menu-footer {
			left:384px;
			ul.menu li :after{
			    content: '|';
			    margin: 0 5px;;
				clear:both;
			};
			ul.menu li.last :after{
			    content: '';
			};
			ul.menu li{
			    display: inline;
				a{
					color:$grey-dark;
					text-decoration:underline;
					font-size:$fz-ex-small;
				}
			}
		}
		#block-block-15, #block-block-16,#block-menu-menu-footer{
		    @include grid-span(12, 1);
		}
		#block-block-10, #block-menu-menu-footer{
			display:none;
		}
		@include breakpoint($tablet-layout) {
			#block-block-16{
			    @include grid-span(2, 7);
			}
			#block-block-15{
			    @include grid-span(2, 5);
			}

		}
	}

}