.h4-field--name-title{
	margin-bottom: 3px !important;
	a {
		color: $grey-dark;
		font-size: $fz-h3;
	}

}
.node--news {
	.post-date {
		font-size: $fz-small;
		line-height: 12px;
		padding-bottom: 5px;
	}
	.read-more-blog {
		@include layout($gutter:1/2) {
			@include grid-span(12, 1);
			clear: both;
		}

	}

}

.view-organizations, .view-events {
	 ul{
		li{
			@include fontello-icon('') {
				display:none;
			}
		}
	}
}
.view .node{
	    margin-bottom: 10px;
}

.views-row strong {
	@include font-weight($fw-normal);
	span.date-display-single {
		margin-left: 21px;
	}

}
.front .view-organizations {
	@include grid-span(12,1);
	margin-bottom: 50px;
	.view-content {
		.views-row {
			float: left;
			margin-right: 5px;
		}

	}

}
//view-resources

.vendor-h2 h3 {
    margin: 25px 0px;
    background-color: #e8dae8;
    margin: 25px 0px;
    background-color: #e8dae8;
    padding: 8px 3%;
    text-transform: uppercase;
    color: #333333 !important;
    font-size: 18px !important;
    line-height: 1.1em !important;
    margin-bottom: 10px;
		
}
.views-exposed-widget .description{
	display:none;
}
