h4.h4-field--name-title{
	margin-bottom: 3px !important;
	a {
		color: $grey-dark;
		font-size: $fz-h3;
	}

}
.node--news {
	.post-date {
		font-size: $fz-small;
		line-height: 12px;
		padding-bottom: 5px;
	}
	.read-more-blog {
		@include layout($gutter:1/2) {
			@include grid-span(12, 1);
			clear: both;
		}

	}

}
