h4.h4-field--name-title{
	margin-bottom: 3px !important;
	a {
		color: $grey-dark;
		font-size: $fz-h3;
	}

}
.node--news {
	.post-date {
		font-size: $fz-small;
		line-height: 12px;
		padding-bottom: 5px;
	}
	.read-more-blog {
		@include layout($gutter:1/2) {
			@include grid-span(12, 1);
			clear: both;
		}

	}

}
.view-display-id-block_2 {
	
	position:relative;
	.views-row{
		position:relative;
		padding-left:3%;
		@include fontello-icon('\e809') {
			font-size: 1.7em;
			padding-top:4px;
			margin-right: 0;
			position: absolute;
			color: $orange;
	    left: -3px;
	    top: -4px;
	}
}
}