//
// Branding's Search Form
// =================================

.search-block-form {
	.container-inline{
		position:relative;
		.form-item-search-block-form{
			background-color:$grey-medium;
		    width: 169px;
		    margin-right: 0px;
			display:inline-block;
			border:0px;
		}
		.form-item-search-block-form{
			.form-text {	
				border: none;
			    font-size: 22px;
			    line-height: 35px;
			    background-color: #E9E9E9;
			    width: 165px;
			    padding: 0;
			    padding-right: 8px;
			    padding-bottom: 1px;
			}
		}
		.form-actions {
			cursor:pointer;
			@include fontello-icon('\e801','before') {
		       cursor: pointer;
		       position: absolute;
		       right: 0px;
		       top: 7px;
		       z-index: 200;
		       font-size: 1.45em;
		       cursor: pointer;
		       color: #FFF;
		       position: absolute;
		       z-index: 200;
			 }
			.form-submit {
				border:none;
			    overflow: hidden;
			    text-indent: -9999px;
			    width: 35px;
				background:$dark-cyan;
			    padding: 14px 2px 9px;
			}
		}
	}
}