//
// Main Content
// =================================  
.l-header{
    @include clearfix;
//    @include grid-container;
}
.l-footer{
  background:blue;
  @include clearfix;
}
.l-branding{
    @include clearfix;
    @include grid-container;  
}
.l-region--branding{
    @include grid-span(12, 1);
	background:cyan;	
	
}
//
// Main Content
// =================================
.l-main {
  @include clearfix;
  @include grid-container;  
}
.l-region--sidebar-second{
	background:green;
    @include grid-span(3, 10);
}
.l-content {
    @include grid-span(9, 1);
	background:yellow;
}

//.l-content {
//  @include breakpoint($tablet-layout) {
//
//  }
//  .l-region--sidebar-second{
////      @include grid-span(3, 9);
//	background:red;
//
//  }
//
//  @include breakpoint($desktop-layout) {
//    @include grid-span(12, 1);
//  }

//  body.no-sidebars & {
//    @include breakpoint($tablet-layout) {
//      @include grid-span(16, 1);
//    }
//  }
//}
//
  
 