body {
    font-family: $font-source-lato;
    font-size: $font-size;
    line-height: $line-height;
    color: $color-txt;
}
  
  
//
// Links
// =================================
a {
  color: $color-link;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: $color-link-hover !important;
  }
  
  &.active {
    color: $color-link; // override system style
  }
}
  
  
//
// Headings
// =================================
h1, h2, h3, h4, h5, h6 {
  color: $white;
  @include font-weight($fw-bold);
  margin-bottom: 10px;
}
  
h1 {
  font-size: $fz-h1;
  line-height: 1.1em;
  margin: 40px 0px 30px 0px;
  color:$grey-dark;
}
  
h2 {
  font-size: $fz-h2;
  line-height: 1.1em;
}
  
h3 {
  font-size: $fz-h3;
  line-height: 1.1em;
}
  
h4 {
  font-size: $fz-h4;
}
  
h5 {
  font-size: $fz-h5;
  text-transform: uppercase;
}
  
h6 {
  font-size: $fz-h6;
}
  
  
//
// Semantic Tags
// =================================
em {
  font-style: italic;
}
  
strong {
  @include font-weight($fw-bold);
}

//
// Highlighted text
// =================================
.highlighted-text {
  @include highlighted-text();
}
//
// h2
//
h2{
	font-size:$fz-h2-large;
	color:$white;	
}
h2 a{
	color:$violet-dark;
}
//
// Field Group H2's
// =================================
.field-group-div{
	h2 {
		margin:25px 0px;
		background-color:$violet-super-super-light;
		padding:3px 2.5%;
		span{
			text-transform:uppercase;
			color:$grey-dark;
			font-weight:$fw-bold;
			font-size:$fz-h5;
		}
	}
}
//
//H3 links
//
.field__item h3, .view-id-Blog h4 {	
	margin-bottom:3px !important;
	a {
		color:$violet-dark;
		font-size:$fz-h3;
//		font-weight:$fw-normal-thik;
		@include fontello-icon('\e800') {
			font-size: 1.0em;
			margin-left: 0.3em;
			margin-right: 0;
			position: relative;
			color:$orange;
			cursor:pointer;
		}
	}
}
.field-group-div.collapsible h3, .field-group-format-title h3{
	background-color:$grey-light;
	padding:7px 5px;
	@include fontello-icon('\e807') {
     font-size: 1.0em;
     margin-left: 0.3em;
     margin-right: 0;
     position: relative;
	   color:$dark-cyan;
	   cursor:pointer;
	}
	a{
		padding-left:5px;
		color:$violet-dark;
	}
	a:hover {
		color:$violet-dark !important;
	};
	.field-group-format-toggler a:before{
		display:none;
	}
}
.field-group-div.collapsed.collapsible h3,.collapsed.field-group-format-title h3{
	@include fontello-icon('\e806') {
		font-size: 1.0em;
		margin-left: 0.3em;
		margin-right: 0;
		position: relative;
		color:$dark-cyan;
		cursor:pointer;
	}

}
.l-region--sidebar-second .block h2.block__title{
	color:$grey-dark;
	font-size:$fz-h3;
	padding:0 15px ;
	padding-top:25px;
	margin-bottom:0px;
	text-transform:uppercase;
	font-weight:$fw-bold;
	padding-bottom:25px;
}
a.field-group-format-title{
	color:$violet-dark;
}
