/********************************************

  _media.scss

  This is where the mobile gymnastics and the
  print stylesheets live.

********************************************/


/* -----------------------------------------
   Mobile header
----------------------------------------- */

/* -----------------------------------------
   footer
----------------------------------------- */


/* -----------------------------------------
   Front page styling
----------------------------------------- */

/* -----------------------------------------
   Mobile Nav

   What do we do at different sizes
----------------------------------------- */

  $mnt_height: rem(5);

  // Hide the main nav
  #access{  @include mq(lte2) { display: none!important;} }
  
  // Show the mobile nav trigger
  #mobile-nav-trigger {
    display: none;
    @include mq(lte2) { display: block;}
    position: absolute;
    right: $gutter/2;
    top: rem(4.5);
    height: $mnt_height;
    z-index: 5;

    #menu-link {
      &:before {
      content: "≡ ";
      font-size: rem(2);
      line-height: $mnt_height;
      font-weight: normal;
      }
    }

  }

#mobile-nav {
  background-image: none;
  background-color: transparent;
  top: rem(2)!important;
  @include box-shadow(none);
  padding: 0;
  li { list-style: none;}
  li a {
    display: block;
    background-color: green;

    color: $white;
    font-size: rem(2.8);
    font-weight: normal;
    border: rem(0.1) solid darken(green, 10%);
    line-height: 1.1;
    padding: rem(1);
    @include box-shadow(rgba(0, 0, 0, 0.8) 0px 3px 10px);

    &:hover, 
    &:focus,
    &:active{
      text-decoration: none;
      background:green;
      border: rem(0.1) solid darken(green, 10%);
    }
  }
}

.reveal-modal-bg {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}


