@import "settings";
@import "compass/css3";
@import "compass/css3/pie";

// $social-spacing: 15px;
// @import "icons/social/*.png";
// @include all-social-sprites;


/********************************************

  Page.scss

  All styles for any page.tpl.php templates.
  This file will include background styles
  gradients, headers, footers etc.

********************************************/

  //DEBUG. REMOVE THIS!!!!!!!
/*
    #page:before{
      content: " 5 ";
      display: block;
      position: absolute;
      background: white;
      height: rem(4); width: rem(4); left: rem(1); top: rem(4);      
      font-size: rem(4);
      color: black;
      line-height: rem(3.6);
      border: 4px solid black;
      text-align: center;
      z-index: 500;
    }
  @include mq(5) { }
  @include mq(4) { #page:before{ content: "4";} }
  @include mq(3) { #page:before{ content: "3";} }
  @include mq(2) { #page:before{ content: "2";} }
  @include mq(1) { #page:before{ content: "1";} }

*/

/* -----------------------------------------
   General Page Styling
----------------------------------------- */

  html, body {
    overflow-x: hidden;
  }

  .three, .four{ min-height: 1px; }

  table {
    width: 100%;
    border: 1px solid #eee;
  }
  
  #access {
    position:relative;
  }

  #main {
    margin-top: 40px;
  }

  .access-outer {
    background: $mainColor;
    border-bottom: 3px solid lighten($mainColor, 10%);
  }

  ul.links {
   list-style: none; 
   padding-left: 0px;
   .print_html { margin-left: 0; }
  }

  .button { @include le-bouton; }

/* -----------------------------------------
   Header / Footer & logo
----------------------------------------- */

.header-outer {
    background: url('../images/header-background.png') repeat;
}

#header-wrapper {
    background: url('../images/header-molecules4.png') no-repeat center top;    
}

#logo {
  margin: 29px 0;
}

#footer {
  border-top: 2px dotted #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

/* -----------------------------------------
   Common spacings
----------------------------------------- */

  #sidebar-right .block { margin-bottom: $gutter; }


/* -----------------------------------------
   Resource Content Type
----------------------------------------- */


body.node-type-resource article{

  .columns:last-child { float: left; }

  .row.field-group-table-group-license .columns{ @extend .four; }
  .row.field-group-table-group-vendor .columns{ @extend .four; }
  .row.field-group-table-group-resource-group .columns{ @extend .three; }

  .field-item, .row{
    border-bottom: 1px dotted #ccc;
    margin-bottom: rem(2);
    .field-item{ border-bottom: none; }
  }

}



/* -----------------------------------------
   Contact Content Type
----------------------------------------- */

body.node-type-organization article{


  .columns:last-child { float: left; }

  .row.field-group-table-group-info .columns{ @extend .four; }

  .field-item, .row{
    border-bottom: 1px dotted #ccc;
    margin-bottom: rem(2);
    .field-item{ border-bottom: none; }
  }

}

/* -----------------------------------------
   UI Elements
----------------------------------------- */
  //until further notice all buttons will be green
  .button{

  }

  #breadcrumb{
    height: $gutter;
    padding-top: rem(0.7);
    padding-left: $gutter;
  }

  ul.pagination{
    text-align: center;
    li {
      float: none;
      display: inline-block;
    }
  }



/* Tab styling */
div.drupal_tabs {
  background:#ddd; overflow:auto; margin:18px 0; padding:4px 2px;
  -moz-border-radius:6px; -webkit-border-radius:6px;
}

  dl.tabs.primary,
  dl.tabs.secondary {
    border-style:none; margin:0; padding:0;
  }

  dl.tabs.primary {
    float:left;
  }
  
    dl.tabs.primary dd {
      display:inline;margin:0;padding:0;
    }
    
      dl.tabs.primary dd a {
        background:#fff;border-style:none;color:#877f77; display:block; font-weight:bold; float:left; margin:0 2px; padding:6px 12px; text-transform:uppercase;
        -moz-border-radius:4px; -webkit-border-radius:4px;
        text-decoration: none;
      }
      
      dl.tabs.primary dd a:hover,
      dl.tabs.primary dd a:active {
        background:#877f77;
        color:#fff;
      }
      
      dl.tabs.primary dd.active a {
        background:#877f77; color:#fff;
      }
      
    dl.tabs.secondary {
      border-top:1px solid #fff; clear:both; display:block; margin:0 2px; padding:0 0 4px 0; position:relative; top:4px;
    }
    
      dl.tabs.secondary dd {
        border-style:none; display:block; float:left; margin:0 !important; padding:6px 0;
      }
      
        dl.tabs.secondary dd a {
          border-bottom-style:none; border-right:1px solid #fff; display:block; float:left; font-weight:bold; margin-right:9px; padding:0 9px 0 0;
        }
        

