@import "settings";
@import "compass/css3";
@import "compass/css3/pie";

// $social-spacing: 15px;
// @import "icons/social/*.png";
// @include all-social-sprites;


/********************************************

  Page.scss

  All styles for any page.tpl.php templates.
  This file will include background styles
  gradients, headers, footers etc.

********************************************/

  //DEBUG. REMOVE THIS!!!!!!!
/*
    #page:before{
      content: " 5 ";
      display: block;
      position: absolute;
      background: white;
      height: rem(4); width: rem(4); left: rem(1); top: rem(4);      
      font-size: rem(4);
      color: black;
      line-height: rem(3.6);
      border: 4px solid black;
      text-align: center;
      z-index: 500;
    }
  @include mq(5) { }
  @include mq(4) { #page:before{ content: "4";} }
  @include mq(3) { #page:before{ content: "3";} }
  @include mq(2) { #page:before{ content: "2";} }
  @include mq(1) { #page:before{ content: "1";} }

*/

/* -----------------------------------------
   General Page Styling
----------------------------------------- */

  html, body {
    overflow-x: hidden;
  }

  .three, .four{ min-height: 1px; }

  table {
    width: 100%;
    border: 1px solid $gray_7;
  }
  
  #access {
    position:relative;
  }

  #main {
    margin-top: 40px;
  }

  .access-outer {
    background: $mainColor;
    border-bottom: 3px solid lighten($mainColor, 10%);
  }

  ul.links {
   list-style: none; 
   padding-left: 0px;
   .print_html { margin-left: 0; }
  }

  //.button { @include le-bouton; }

/* -----------------------------------------
   Header / Footer & logo
----------------------------------------- */

.header-outer {
    background: url('../images/header-background.png') repeat;
}

#header-wrapper {
    background: url('../images/header-molecules4.png') no-repeat center top;    
}

#logo {
  margin: 29px 0;
}

#footer {
  border-top: 1px dotted $gray_6;
  margin-top: 20px;
  max-width: rem(92);
  padding-bottom: rem(6);
  padding-top: rem(2);
}

/* -----------------------------------------
   Common spacings
----------------------------------------- */

  #sidebar-right .block { margin-bottom: $gutter; }


/* -----------------------------------------
   Generic content type formatting
----------------------------------------- */

#content > article,
.content-article {

  .columns:last-child { float: left; }

  .field-item {
    border-bottom: 1px dotted $gray_4;
    margin-bottom: rem(2);
    padding-bottom: rem(1);
  }

  .field-name-field-private-note {
    background: $gray_5;
    border-bottom-style: none;
    padding:1em;
  }

  div[class^=field-group-simple-div] {
    .field-item {
      border-bottom-style: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  fieldset {
    @include color-panel($gray_11, $gray_10);
  }

  .collapsed {
    background: none;
    border: none;
    padding-bottom:0px;
  }

  .collapsible {
    
  }

  .collapsed,
  .collapsible {
    legend {
      margin-left: rem(-2.2);
      a {
        @extend .button;
        background: $gray_1;
        border-bottom: 1px solid $gray_2;
        -moz-border-radius: rem(.5);
        -webkit-border-radius: rem(.5);
        border-radius: rem(.5);
        border-left-style: none;
        border-right-style: none;
        border-top: 1px solid $gray_3;
        padding: rem(.5) rem(.8);
      }
    }
  }
}

/* -----------------------------------------
   Content Types
----------------------------------------- */


body.node-type-resource {
  article {
    @extend .content-article;
  }
  .field-resource-vendor-ref {
    float: right;
    padding-bottom: rem(2);
    padding-left: rem(2);
  }
  .help {
    font-size: rem(1.1);
    margin-top: rem(.5);
  }
  #return-res {
    background: url('../images/return-resources.png') no-repeat right 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: rem(1.2); 
    font-weight: bold;
    height: rem(3);
    position: absolute;
    right: rem(1.5);
    top: rem(5.2);
    a {
      color: $gray_8;
      display: block;
      padding: 5px 40px 0 0;
    }
  }
}

body.node-type-organization article{
  @extend .content-article;
}

body.node-type-event article{
  @extend .content-article;
}

/* -----------------------------------------
   Individual fields 
----------------------------------------- */


/* -----------------------------------------
   Views 
----------------------------------------- */

#block-views-contacts-by-group-block {
  @include color-panel($gray_13, $gray_11);
}



/* -----------------------------------------
   UI Elements
----------------------------------------- */

  //until further notice all buttons will be green
  .button{
    &:hover,
    &:active,
    &:focus {
      background: $gray_9;
    }
  }

  #breadcrumb{
    height: $gutter;
    padding-top: rem(0.7);
    padding-left: $gutter;
  }

  ul.pagination{
    text-align: center;
    li {
      float: none;
      display: inline-block;
    }
  }



/* Tab styling */
div.drupal_tabs {
  background:$gray_6; overflow:auto; margin:18px 0; padding:4px 2px;
  -moz-border-radius:6px; -webkit-border-radius:6px;
}

  dl.tabs.primary,
  dl.tabs.secondary {
    border-style:none; margin:0; padding:0;
  }

  dl.tabs.primary {
    float:left;
  }
  
    dl.tabs.primary dd {
      display:inline;margin:0;padding:0;
    }
    
      dl.tabs.primary dd a {
        background:$white;border-style:none;color:$gray_9; display:block; font-weight:bold; float:left; margin:0 2px; padding:6px 12px; text-transform:uppercase;
        -moz-border-radius:4px; -webkit-border-radius:4px;
        text-decoration: none;
      }
      
      dl.tabs.primary dd a:hover,
      dl.tabs.primary dd a:active {
        background:$gray_9;
        color:$white;
      }
      
      dl.tabs.primary dd.active a {
        background:$gray_9; color:$white;
      }
      
    dl.tabs.secondary {
      border-top:1px solid $white; clear:both; display:block; margin:0 2px; padding:0 0 4px 0; position:relative; top:4px;
    }
    
      dl.tabs.secondary dd {
        border-style:none; display:block; float:left; margin:0 !important; padding:6px 0;
      }
      
        dl.tabs.secondary dd a {
          border-bottom-style:none; border-right:1px solid $white; display:block; float:left; font-weight:bold; margin-right:9px; padding:0 9px 0 0;
        }
        

