/* Default Base View Styles */
.view {

}

.view .attachment {
	/*margin:0 0 20px 0;
  padding:0 0 19px 0;*/
}

	.view .attachment .view-content {
  	background:#f8f8f8;
  	padding:10px;
	}
	
.view .views-row,
.view-content .row {
  clear: both;
	padding:0 0 9px 0;
}


/* Group memebers list */
.view-id-og_members_block {
  text-align: left;
}
  
  .view-id-og_members_block .item-list ul li {
    list-style:disc outside none;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }

/* !Profile */
.view-profile .picture {
  margin:4px 2px 6px 0;
}

/* !Generic Exposed Filters */
.view-filters {
  background: #f8f8f8;
  margin:0 0 1em 0; 
  padding:1em;
}

.views-exposed-widget {
  float:left;
  margin:0 1em 0 0; 
}

/* !Group Members view block on Group Page */
.view-og-members-block.view-display-id-block-1 img.imagefield {
  float:left;
  margin:4px 8px 6px 0;
}


/* !Recent Activity Block on Dashboard */
.view-og-which-gorups .group-title {
  border-bottom:1px solid #efefef;
  margin:0.25em 0;
}

/* Homepage / What's New Blog / Events View */

#block-views-blog-block-6 {
  background: url('../images/dashed-border.png') repeat-x 0 top;
  padding-top: 35px;
}
  
  .front #content .view-Blog .views-row {
    clear: none;
    float: left;
    width: 325px;
  }
  
  .not-front #content .view-Blog .views-row {
    padding: 15px 35px 0 0;
  }

  #content .view-events .views-row {
    border-bottom: 1px solid #E0E0E0;
    padding:1em 0;
  }

    #content .view-events .views-row-last {
      border: none;
    }
  
  #content .view-Blog .views-row-first {
    padding-right: 25px;
  }
  
  .view-og-mytracker .row {
    color: #f68115;
  }

  #content .view-Blog ul.row,
  #content .view-events ul.row{
    list-style: none;
  }

  #content .view-events .views-row {
    border-bottom: 1px solid #E0E0E0;
    padding: 1em 0;
  }
  
    #content .view-Blog .views-field-title a,
    #content .view-events .views-field-title a,
    .view-og-mytracker .views-field-title a {
      color: #2a2724;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1.333em; /* 20px relative to 15px */
      font-weight: bold;
      text-decoration: none;
      text-transform: none;
      line-height: 1;
    }

    #content .view-events .views-field-title a {
      color: #18729d;
      font-size: 1.200em; /*18px relative to 15px*/
    }  

   #content .view-Blog .views-field-created,
   #content .view-events .views-field-field-date {
    color: $secondaryColor;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.067em; /* 20px relative to 15px */
    font-weight: bold;
    padding-bottom: 0;
  }

   #content .view-Blog .views-field-created {
     padding-bottom: 15px;
   }

  #content .view-events .views-field-field-date-value {
    font-size: 1.067em; /*16px -relative to 15px */
    padding-bottom:0;
  }

  #content .view-events .views-field-field-date-value-1 {
  }
  
  #content .view-Blog .views-field-tid,
  #content .view-Blog .views-field-term-node-tid {
    padding-bottom: 10px;
  }
  
  #content .view-Blog .views-field-teaser {
    font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif;
  }
  
  .node-type-blog .node .content {
    padding: 15px 35px 15px 0;
  }


/* Homepage quotes */

#block-views-quotes-block-1 {
  background: #efefef;  
  border-bottom: 5px solid #e0e0e0;
  border-top: 5px solid #e0e0e0;
  font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif;
  margin-top: 20px;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  font-style: normal;
}

#block-views-quotes-block-1 .quote-title,
#block-views-quotes-block-1 .quote-job-title,
#block-views-quotes-block-1 .quote-org,
#block-views-quotes-block-1 .quote-year {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#block-views-quotes-block-1 .quote-year {
  color: #f68115;
  font-weight: normal;
}

#block-views-quotes-block-1 blockquote {
  background: none;
  border: none;
  padding: 10px 0 0 0;
  
}
#block-views-quotes-block-1 blockquote, #block-views-quotes-block-1 blockquote p {
  color: $txtColor;
  font-style: normal;
  font-weight: 1em;
}
#block-views-quotes-block-1 .date-display-single {  
  color: $secondaryColor;
}



/* Contacts View */

.view-contacts,
.view-profile-contacts,
.view-organization-contacts {
  margin: 0 0 35px 0;
}

#edit-submit-contacts,
#edit-submit-profile-contacts {
  margin-top: 30px;
}

.view-contacts .view-filters,
.view-profile-contacts .view-filters {
  background: none repeat scroll 0 0 #EFEFEF;
  border-bottom: 5px solid #E0E0E0;
  border-top: 5px solid #E0E0E0;
  margin-bottom: 0;
  padding-bottom: 0;
  form {
    padding-bottom: 0;
  }
}


/* Data Tables */

.views-table th {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.views-table a {
  text-decoration: none;
}

#dashboard .view-resources .view-content {
  padding-left: 0;
}

.view-resources .view-content,
.view-licenses .view-content {
  padding-left: 15px;
  clear:both;
}

.view-resources table,
.view-contacts table,
.view-profile-contacts table,
.view-licenses table,
.view-trials table,
.view-organizations table,
.view-organization-contacts table,
.view-vendors table,
.page-forum table {
  border: none;
  margin: 0 -15px 0 0;
  width: 100%;
}

.view-resources table tr,
.view-contacts table tr,
.view-profile-contacts table tr,
.view-licenses table tr,
.view-trials table tr,
.view-organizations table tr,
.view-vendors table tr,
.view-organization-contacts table tr,
.page-forum table tr {
  background: none;
}

.view-resources table td,
.view-resources table th,
.view-contacts table td,
.view-contacts table th,
.view-profile-contacts table td,
.view-profile-contacts table th,
.view-licenses table td,
.view-licenses table th,
.view-trials table td,
.view-trials table th,
.view-organizations table td,
.view-organizations table th,
.view-organization-contacts table td,
.view-organization-contacts table th,
.view-vendors table td,
.view-vendors table th,
.page-forum table td,
.page-forum table th {
  background: none;
  border: none;
  padding: 8px 5px;
  vertical-align: top;
}

.page-forum table thead tr {
  background: url('../images/dashed-border.png') repeat-x 0 bottom;
}

.view-resources table tr.even,
.view-resources table tr.odd,
.view-contacts table tr.even,
.view-contacts table tr.odd,
.view-profile-contacts table tr.even,
.view-profile-contacts table tr.odd,
.view-licenses table tr.even,
.view-licenses table tr.odd,
.view-trials table tr.even,
.view-trials table tr.odd,
.view-organizations table tr.even,
.view-organizations table tr.odd, 
.view-organization-contacts table tr.even,
.view-organization-contacts table tr.odd, 
.view-vendors table tr.even,
.view-vendors table tr.odd,
.page-forum table tr.even,
.page-forum table tr.odd {
  background: url('../images/dashed-border.png') repeat-x 0 bottom;
  border: none;
}

.view-resources td.views-field-title {
  font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif; 
  font-weight: bold;
  width: 225px;
}

.view-resources td.views-field-title a {
  color: #18729d;
  font-size: 1.133em /* 17px relative to 15px */
}


.view-resources td.views-field-body {
  color: #2a2724;
  font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif;  
}


.view-resources th,
.view-organizations th,
.view-organization-contacts th,
.view-contacts th,
.view-profile-contacts th,
.view-licenses th,
.view-trials th  {
  color: #2a2724;
  font-weight: bold;
}

.view-resources .view-header {
  position: absolute;
  top: 0;
  right: 15px;
  a.button { @include le-bouton; } 
}

.view-contacts .view-header,
.view-profile-contacts .view-header,
.view-organizations .view-header{
  a.button { @include le-bouton; } 
}

.view-resources .view-filters {
  background: none;
  padding:0;
}

.view-resources .views-exposed-form {
  background: #EFEFEF;
  margin-top: -19px;
  padding: 0 10px;
  float:right
}

.view-resources .views-exposed-form .views-submit-button input.button {
  margin:0;
}

.view-resources .views-exposed-form input.button,
.view-contacts .views-exposed-form input.button,
.view-profile-contacts .views-exposed-form input.button { margin:5px; @include le-bouton; } 

#content label.expand-btn{
  position: absolute;
  top: 1.2rem;
  right: 0rem;
  padding-right: 44px;
  background: url("../images/resources-gear.png") no-repeat right 0px;
  color: #8c8b89;
  cursor: pointer;
  color: $gray_8;
  font-size: .923em;
  font-weight: bold;
  height: 30px;
  padding: 3px 45px 0 0;
  line-height: 30px;
}

#block-views-committee-members-block {
  background: $gray_13;
  border-bottom: 5px solid $gray_11;
  border-top: 5px solid $gray_11;
  margin-bottom: 30px;
  padding: 0 20px 0.5em 20px;
  position: relative;
}

  #block-views-committee-members-block h2.block-title {
    color: $gray_14;
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 20px 0 7px 0;
  }

  #block-views-committee-members-block img {
    float: left;
    margin: 4px 8px 6px 0;
  }

  #block-views-committee-members-block h4 {
    margin-bottom:5px;
  }

.view-organizations {
  table {
    caption {
      @extend h2;
      text-align: left !important;
    }
  }
}