/*
Syntax error: Undefined variable: "$gray_13".
        on line 226 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss, in `color-panel'
        from line 226 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss
        from line 44 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/print.scss

Backtrace:
/Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss:226:in `color-panel'
/Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss:226
/Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/print.scss:44
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/variable.rb:49:in `_perform'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/script/node.rb:40:in `perform'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:259:in `block in visit_mixin'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:259:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:259:in `visit_mixin'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/bin/compass:23:in `load'
/Users/Pigsy/.rbenv/versions/1.9.3-p0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gray_13\".\A         on line 226 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss, in `color-panel'\A         from line 226 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/_page.scss\A         from line 44 of /Users/Pigsy/Dev/ehlbc.ca/public_html/sites/all/themes/ehlbc/sass/print.scss"; }
