body {
  background: #fff url('/profiles/re_profile/themes/descartes/images/header-background.png') repeat-x 0 0;
}

/* Accessiblity */
#skip-to-content,
#skip-to-nav {
	left: -999em; 
	position: absolute;
}

#dc-container {
	padding: 0 0 0 0;
}

.st_sharethis {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.867em; /* 13px relative to 15px */
}

/* Header Styles */
#hd {
		padding: 0 0 0 0;
		position: relative;
}

  #hd-wrapper {
    background: url('/profiles/re_profile/themes/descartes/images/header-molecules4.png') no-repeat center top;    
    height: 156px;
  }

  #hd #site-name {
    float: left;
    font-size: 2.15em;	/*28px*/
    font-family: helvetica, arial, sans-serif;
    height: 45px;
    padding: 29px 0 0;
  }
  
  #hd #site-name a {
  	color: #333;
  	text-shadow: 1px 1px 1px #fff;
  	font-weight: bold;
  }

	#hd #block-search-0 {
		margin: 0 20px 20px 0;
		padding: 0;
	}
	
	#hd #block-search-0 .container-inline {
		padding: 0 0 0 10px;
	}

  #hd #search-theme-form {
  	background: #f8f8f8; 
  	display: none;
  	float: right; 
  	padding: 10px 10px;
  }

  #hd #navigation {
		clear: both;
   	height: 40px;
   	padding-top: 2px;
  }

  #hd .block h3 {
    padding: 0;
  }

	ul.primary-links {
		border-bottom: none;
		float: left;
	  font-family: Helvetica, Arial, sans-serif;
		line-height: 40px;
	}

	ul.primary-links li {
		display:inline;
		list-style:none outside none;
	}

  ul.primary-links li a {
    color: #fff;
    font-size: 1.133em; /* 17px relative to 15px */
    font-weight: 500;
    text-decoration: none;
  }

	ul.primary-links li.active a,
	ul.primary-links li.active a.active,
	ul.primary-links li.active a:active,
	ul.primary-links li.active a:visited {

	}

	ul.primary-links li a,
	ul.primary-links li a.active,
	ul.primary-links li a:active,
	ul.primary-links li a:visited,
	ul.primary-links li a:hover,
	ul.primary-links li.active a {
    padding: 7px 17px 5px 17px;
	}
  
  ul.primary-links li.first a,
  ul.primary-links li.first a.active {
    padding-left: 0;
  }
  
	ul.links li {
		padding: 0 !important;
	}

	ul.primary-links li a:hover,
	ul.primary-links li.active-trail a,
	ul.primary-links li a.active-trail {
    color: #f68115;
	}

  #hd ul.secondary-links {
  	clear: both; 
  	display: block; 
  	height: 30px;
  }

    #hd ul.secondary-links li {
      float: left;
      padding: 0 5px 0 0;
    }

      #hd ul.secondary-links li a {
        background: #877f77; 
        display: block;
        color: #fff; 
        padding: 6px 12px;

      }

        #hd ul.secondary-links a:hover,
        #hd ul.secondary-links li.active a,
        #hd ul.secondary-links li.active-trail a,
        #hd ul.secondary-links li a.active {
          color: #877f77;
        }
  
  
  #hd #breadcrumb {
  	background: #fff;
    clear: both;
    padding: 10px;
  }
  
	#hd #mission {
	
	}


/* !Default Page Styles */
#bd {
	padding: 10px 0;
}

.in-maintenance #bd {
  margin: 50px 0 20px 0;
}

  #utilities {
		margin: 5px 0 0 0;
		float: right;
	}

		/* Styles for text size switcher */
		#text_size {
		  display: inline;
		}
		
		  .small-text { }
		  
		  .large-text {
		    font-size: 120%; 
		    line-height: 1.471;
		  }
		

.content .field {
/*	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd; */
	padding: 5px 0;
}

.content li.field {
  margin: 0 0 0 30px;
}

.tabs {
	
}

.node ul.links.inline {
  display: inline-block;
  padding: 0 0 0.5em 0;
}

.dc-div .block-views h3 {
  color: #F68115;
  font-size: 1.133em;
}

.node ul.links.inline li.print_html {
  background: transparent url('/profiles/re_profile/themes/descartes/images/icon-printer.png') center left no-repeat;
  padding:0 0 0 20px !important;
}

/* Default Node Styles */
.node {
  margin: 20px 0 0 0;
  padding: 0px;
}

  .front .node {
    margin: 30px 0 20px;
  }

  .node .field {
  	margin: 10px 0 10px 0 
  }
  
  .page-node .field {
    background: url('/profiles/re_profile/themes/descartes/images/dashed-border-trans.png') repeat-x 0 bottom;
    padding-bottom: 10px !important;
  }

.notice {
	color: #f00;
}

li.leaf,
li.collapsed,
li.expanded {
  list-style: none;
  list-style-image: none;
}


.print_html, .print_mail, .print_pdf {
    margin-left: 0;
}


.front .node .content h2 {
  color: #18729d;
  font-size: 1.333em; /* 20px relative to 15px */
  padding-bottom: 20px;
}

.front .node #last-updated {
  display: none;
}

.more-link {
  background: #f68115;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #c06510;
  border-top: 1px solid #fbc08a;
  clear: both;
  font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif;
  font-size: 0.933em; /* 14px relative to 15px */
  font-weight: bold;
  height: 23px;
  margin-top: 10px;
  padding-top: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 105px;
}

.view-display-id-block_6 .more-link {
  width: 130px;
  font-size:0.81em;
}

.more-link a {
  color: #fff;
  text-decoration: none;
}

.pane-views .more-link {
  width: 225px;
  margin-bottom: 15px;
}

.dc-main .dc-div #page-title {
  color: #18729d;
  font-size: 2.267em; /* 34px relative to 15px */
  font-weight: normal;
  margin-top: 25px;
  padding: 0;
}

#last-updated {
  margin-top: 2em;
}

/* !Form Styles */
.form-item {
  margin:0.5em 0;
}

#user-login-form {
  text-align: left;
}


/* Tabs Styles */

.page-organizations ul.primary,
.page-resources-databases ul.primary,
.page-licenses ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

.page-organizations ul.tabs.primary li,
.page-resources-databases ul.tabs.primary li,
.page-licenses ul.tabs.primary li {
  /* display: block; */
  position: relative;
  margin: -2px 0 0;
}

.page-organizations div.tabs,
.page-resources-databases div.tabs,
.page-licenses div.tabs {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
  border-radius: 0;
  overflow: hidden;
  padding-top: 3px;
  width: 689px;
}


.page-organizations ul.tabs.primary,
.page-resources-databases ul.tabs.primary,
.page-licenses ul.tabs.primary {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 bottom;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.867em; /* 13px relative to 15px */
  float: left;
  height: 40px;
  margin-bottom: 5px;

  padding: 0 0 7px 0;
  position: relative;
  width: 100%;
}

li.btn {
  width: 168px;
}


.page-organizations ul.tabs.primary li a,
.page-resources-databases ul.tabs.primary li a,
.page-licenses ul.tabs.primary li a {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #9e9993;
  float: left;
  height: 28px;
  margin: 2px 2px 0 0;
  padding: 12px 10px 0;
  text-transform: uppercase;
}

.page-organizations ul.tabs.primary li.active a,
.page-resources-databases ul.tabs.primary li.active a,
.page-licenses ul.tabs.primary li.active a {
  background: #efefef;
  color: #2a2724;
}

.page-organizations ul.tabs.primary li a:hover,
.page-resources-databases ul.tabs.primary li a:hover,
.page-licenses ul.tabs.primary li a:hover {
  background: #efefef;
  color: #2a2724;
}

.page-resources-databases .dc-div {
  position: relative;
}

.view-resources .view-header {
  position: absolute;
  top: 0;
  right: 15px;
}

.view-resources .view-filters {
  background: none;
  display: none;
  padding: 1em 4px 1em 1em;
}

#views-exposed-form-resources-page-1 {
  float: right;
  margin-top: 20px;
}

#views-exposed-form-resources-page-1 .views-exposed-form {
  background: #efefef;
  margin-top: -40px;
  padding: 0 10px;
}

#views-exposed-form-resources-page-1 #edit-submit-resources {
  margin-top: 10px;
}


.page-resources-databases ul.tabs li.btn label {
  background: url('/profiles/re_profile/themes/descartes/images/resources-gear.png') no-repeat right 7px;
  color: #8c8b89;
  cursor: pointer;
  float: right;
  font-size: .923em; /* 12px relative to 13 (tabs.primary) */
  font-weight: bold;
  height: 30px;
  padding: 14px 45px 0 0;
}


/* Table Styles */


/* Footer */
#ft {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
  line-height: 1.54; 
  padding: 20px 0 60px; 
}

  #ft .block h3 {
    font-size: 1.133em; /* 17px relative to 15px */
    padding: 0 0 2px;
  }

  #ft a {
    text-decoration: none;
  }

/* Hide AddThis tracker */
#atff {
  display: none;
}


/* Button styling taken from Seven theme */
a.button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  color: #5a5a5a;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-size: 1.1em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url('/sites/all/themes/seven/images/buttons.png') 0 0 repeat-x;
  border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;

}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

#og-page a.button  {
  position: absolute; 
  right: 5px; 
  top: 10px
}

/* Trial Renewal */
.node-type-trial-renewal .trial_deadline {
  font-size: 1.200em; /*18px - relative to 15px */
  text-align: center
}


/* Resources  */

.node-type-resource .dc-main .dc-div {
  position: relative !important;
}

.node-type-resource #return-res {
  background: url('/profiles/re_profile/themes/descartes/images/return-resources.png') no-repeat right 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.800em; /* 12px relative to 15px */
  font-weight: bold;
  height: 30px;
  position: absolute;
  right: 0;
  top: 15px;
}

  .node-type-resource #return-res a {
    color: #8c8b89;
    display: block;
    padding: 5px 40px 0 0;
  }

.node-type-resource .node {
  margin: 0;
}

.node-type-resource a {
  text-decoration: none;
}

.node-type-resource .content .field {
  border: none;
  padding: 0;
}

.node-type-resource .content .field .help {
  display: block;
  font-size: 0.73em; /* 12px -relative to 15px */
  margin: 5px 0 0 0;
}

.node .content .field.private-note {
  background: #ffe9d5;
  padding:1em;
}

.node-type-resource .content .row,
.node-type-organization .content .row {
  background: url("/profiles/re_profile/themes/descartes/images/dashed-border-trans.png") repeat-x scroll bottom left transparent;
  margin: 10px 0;
  overflow: auto;
}

  .node-type-resource .content .col,
  .node-type-organization .content .col {
    float:left;
    width:173px;
  }

    .node-type-organization .content .col {
      width: 173px;
    }

    .node-type-organization .content .two {
      width: 346px;
    } 

  .node-type-resource .content .row .field,
  .node-type-organization .content .row .field {
    background:none;
  }

.node-type-resource .content .inset,
.node-type-organization .content .inset {
  float:right;
  padding:0 1.5em;
}

.node-type-resource .content h2 {
  /*clear:both;*/
}

.node-type-resource h2.license-title {
  font-size: 1.600em; /* 24px relative to 15px */
  margin-bottom: 10px;
}

.node-type-resource h2.license-title a {
  text-decoration: none;
}

.node-type-resource .node fieldset {
  background: #efefef;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 5px solid #e0e0e0;
  border-top: 5px solid #e0e0e0;
  margin-bottom: 50px;
  padding: 20px;
}

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: hidden;
}

.node-type-resource fieldset.collapsed {
  background: none;
  border: none;
  padding-bottom:0px;
}

.node-type-resource legend {
    margin-left: -20px;
}

.node-type-resource fieldset.collapsed legend {
}

html.js .node-type-resource fieldset.collapsed legend a,
html.js .node-type-resource fieldset.collapsible legend a {
  background: #939290;
  border-bottom: 1px solid #737270;
  border-top: 1px solid #c9c9c8;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  color: #fff;
  font-family: "minion-pro-1","minion-pro-2", Georgia, 'Times New Roman', serif;
  font-weight: bold;
  height: 23px;
  padding: 5px 8px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

/* Contact Node */

#contact-wrapper {
  margin-left: 100px;
}

#contact-wrapper .content img {
  float: left;
  margin-left: -100px;
}

.node-type-contact .content {
  position: relative;
}

.node-type-contact .content h2 {
  margin:0.75em 0 0.15em;
}

.node-type-contact .content .groups {
  position: absolute;
  right: 50%;
  top: -13px;
}

/* Search page */
.section-search .tabs {
  display: none;
}

/*  Wiki */

.node-type-wiki .meta,
.node-type-forum .meta,
.node-type-wiki .groups,
.node-type-forum .groups {
  padding: 10px 0;
}

/*  Forum */

.forum-topic-navigation {
  border: none;
}

.forum-topic-navigation .topic-previous,
.forum-topic-navigation .topic-next {
  width: auto;
}

.node-type-forum .groups {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
}

.node-type-forum .forum-topic-navigation {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
}

.image-left {
  float: left;
  margin: 0 10px 10px 0;
}

.image-right {
  float: right;
  margin: 0 0 10px 10px;
}

/* Pagination */

.item-list .pager {
  margin-top: 15px;
  text-align: left;
}

  .item-list .pager li {
    padding: 0 1.2em;
    margin: 0;
  }
  
  .item-list .pager li.first {
    padding-left: 0;
    margin-left: 0;
  }

/* Forum Comments */

.node-type-forum .node .content {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
  padding-top: 10px;
}

.node-type-forum .comment {
  background: url('/profiles/re_profile/themes/descartes/images/dashed-border.png') repeat-x 0 top;
  margin-top: 15px;
  padding-top: 10px;
}

  .node-type-forum .comment .submitted {
    padding: 10px 0;
  }

/* Sitemap Page */
.page-sitemap .site-map-menus h2 {
  display: none;
}

/*  Messages  */

.dc-div div.messages {
	 padding: 25px 0 25px 70px;
}

.dc-div div.messages a {
  color: #333;
  text-decoration: none;
}

.dc-div div.messages a:hover {
  color: #000;
  text-decoration: underline;
}


div.messages.status {
		background: #CCFF88 url('/profiles/re_profile/themes/descartes/images/info.png') no-repeat 3px 3px;
		border: 1px solid #BBEE77;
		color: #336600;
}

.dc-div div.warning {
		background: #FFFFDD url('/profiles/re_profile/themes/descartes/images/alert.png') no-repeat 3px 3px;
		border: 1px solid #F0C020;
		color: #222200;
}

div.messages.error {
		background: #EE6633 url('/profiles/re_profile/themes/descartes/images/close.png') no-repeat 3px 3px;
		border-color: #DD5522;
		color: #FFFFFF;
}
