@import "settings";
@import "compass/css3";

/********************************************

  Block.scss

  All styles (except typography) for
  drupal blocks. Start with abstractions
  and then inheritances underneath

********************************************/

//This is here only to define it.
.flex-video{ position: relative; }

/* Default Base Block Styles */
.block {
}

.block ul.menu,
.block ul.menu li {
  margin: 0;
  padding: 0;
}


.block table { margin:0px; }

.block-search {
  width: 200px;
  float: right;
}



/* Admin menu block */
#block-menu-menu-authenticated {
  background: $white;
  color: $gray_9;
  @include border-radius(rem(.5));
  -moz-box-shadow: 0 0 5px $gray_15;
  -webkit-box-shadow: 0 0 5px $gray_15;
  box-shadow: 0 0 5px $gray_15;
  font-weight: bold;
  height: auto;
  padding: 10px;
  position: absolute;
  right: -162px;
  top: 35px;
  z-index: 1000;

  ul {
    list-style: none;
  }

  h2 {
    background: url("../images/resources-gear.png") no-repeat scroll top left transparent;
    color: $gray_9;
    cursor: pointer;
    font-size: rem(1.5);
    height: 36px;
    margin: 0;
    padding: 5px 0 0 46px;
  }

  .block-content {
    padding:0 0 0 46px;
  }
}

/* Share this block */
#block-block-11 {
  position: absolute;
  right: 20px;
  top: -30px;
}

#block-block-11 .st_sharethis {
  background: url("../images/share-icon.png") no-repeat scroll left center transparent !important;
  height: 20px;
}

#block-block-11 .st_sharethis {
  padding: 1px 0 1px 22px;
  text-decoration: none;
}

#block-block-11 .stButton {
  margin: 0;
}

#block-block-11 .stButton .chicklets {
  background: none;
  padding: 0;
}


/* Front page access block */

.front .node .entry-content h2 {
  color: #18729d;
  font-size: 1.333em; /* 20px relative to 15px */
  padding-bottom: 20px;
}



/* Do I have Access Block */


.front #block-menu-block-1 h2 {
  display: none;
}

.front #block-menu-block-1 ul.menu {
  list-style: none;
}

.front #block-menu-block-1 ul.menu li a {
  background: #18729d;
  color: #fff;
  @include border-radius(7px);
  display: block;
  font-size: 1.00em; /* 18px relative to 15px */
  font-weight: bold;
  height: 50px;
  line-height: 1.2;
  padding: 8px 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* Sidebar blocks  - In this Section Block */
.not-front #sidebar-left,
.not-front #sidebar-right {

  .block {
    background: none repeat scroll 0 0 $gray;
    border-bottom: 5px solid $border-gray;
    padding: 20px;
    margin-bottom: rem(3);

    ul {
      list-style:none;
    }

    li {
      padding: 4px 0px 4px 20px;
      margin-left: -20px;

      &.active,
      &.active-trail {
        border-left: 5px solid #ababab;
      }

      a {
        display: block;
        font-size: rem(1.9);
        font-weight: bold;
        line-height: 1;
        text-decoration: none;

        &.active,
        &.active-trail {
          color: #104e6b;
          font-weight: bold;
        }
      }
    }
  }


  /* Third and Fourth level */
  #block-menu-block-1 {
    li {
      a {
        font-size: rem(1.8);
      }
    }
    li.active-trail li.active-trail,
    li.active-trail li.active-trail li.active-trail {
      border:none;
    }
  }


}

/* Utilities Block */

#block-re-utilities-utility-nav {
  float:right;
}

#block-re-utilities-utility-nav .block-content {
  background: none;
}

#block-re-utilities-utility-nav ul.links {
  height: 40px;
  padding: 0;
  list-style: none;
}

#block-re-utilities-utility-nav ul.links li {
  background: $mainColor;
  border-bottom: 5px solid lighten($mainColor, 20);
  font-family: $ff-ss-bold;
  font-size: rem(1.8);
  height: 43px;
  float: left;
  margin: 0;
  text-align: center;
  padding-right: 5px;
  width: 110px;
}

#block-re-utilities-utility-nav ul.links li.first {
  border-left: 5px solid lighten($mainColor, 20);
  display: block;
  width: 114px;
}

#block-re-utilities-utility-nav ul.links li.last {
  border-right: 5px solid lighten($mainColor, 20);
  display: block;
  width:132px;

  /*
    @media(max-width: $screenSmall){
    width: 25px;
    text-indent: -9999px;
  }*/

}

#block-re-utilities-utility-nav ul.links li a {
  color: $white;
  display: block;
  padding-top: 9px;
  padding-bottom: 3px;
  text-decoration: none;
  padding-left: 30px;
}

#block-re-utilities-utility-nav ul.links li a:hover {
  text-decoration: underline;
}

#block-re-utilities-utility-nav ul.links li a.register {

}

#block-re-utilities-utility-nav ul.links li a.dashboard {
  font-size: 0.786em; /* 11px relative to 14px (ul.links) */
  padding-top: 25px;
}


.logged-in #block-re-utilities-utility-nav {
  /*  width: 380px; */
}

.logged-in #block-re-utilities-utility-nav .block-content .welcome {
  position: absolute;
  right: 267px;
  text-align: right;
  top: 15px;
  width: rem(25);
}

.logged-in #block-re-utilities-utility-nav ul.links li {
  border-left: 5px solid lighten($mainColor, 10);
}

#block-re-utilities-utility-nav ul.links li a.register {
  background: url('../images/icon-register.png') no-repeat 10px 7px;
}

#block-re-utilities-utility-nav ul.links li a.login, #block-re-utilities-utility-nav ul.links li a.logout {
  background: url('../images/icon-loginout.png') no-repeat 10px 7px;
}

#block-re-utilities-utility-nav ul.links li a.logout {
}

#block-re-utilities-utility-nav ul.links li a.search {
  background: url('../images/icon-search.png') no-repeat 10px 7px;
}



.logged-in #block-re-utilities-utility-nav ul.links li.first {
  background: none;
  border: none;
}

.logged-in #block-re-utilities-utility-nav ul.links li.last {
  border-left: none;
  border-right: 5px solid lighten($mainColor, 10);
}

.logged-in #block-re-utilities-utility-nav ul.links li.first {
  margin: 5px 5px 0 0;
  text-transform: none;
  width: 150px;
}

.logged-in #block-re-utilities-utility-nav ul.links li.first a {
  color: #18729d;
  display: block;
  float: right;
  font-weight: normal;
  padding-left: 0;
}

/* Footer Logo */

#block-block-1 {
  float: left;
  height: 75px;
  width: 255px;
}

/* Footer Text */
#block-block-10 {
  display: block;
  width: 75%;
  float: right;
}

.no-sidebars {

  #block-menu-menu-footer,
  #block-block-10 {
    width: 100%;
    float: none;
  }

}

#block-block-10 p {
  color: #807b77;
  margin-bottom: 0.5em;
  text-align: left;
}
#block-block-10 p a{
  text-decoration: none;
}


/* Footer menu */

#block-menu-menu-footer {
  display: block;
  width: 75%;
  float: right;
}


#block-menu-menu-footer ul.menu li {
  float: left;
  list-style: none;
  list-style-image: none;
  padding-right: 0;
}

#block-menu-menu-footer ul.menu li a {
  border-right: 1px solid #807b77;
  display: block;
  padding: 0 6px;
  text-decoration: none;
}

#block-menu-menu-footer ul.menu li.first a {
  padding-left: 0;
}

#block-menu-menu-footer ul.menu li.last a {
  border-right: none;
}


/*  Member/User Login Block */
#block-user-login {
  display: none;
}

#block-user-login {
  background: $gray;
  border-top: 5px solid #d1d1d1;
  border-bottom: 5px solid #d1d1d1;
  padding: 0 15px;
  position: absolute;
  right: 35px;
  top: 40px;
  width: 204px;
  z-index: 100;
}

#block-user-login h2 {
  color: #807b77;
  font-size: 0.933em;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}

#block-user-login label {
  font-weight: bold;
}

#block-user-login .form-text {
  width: 175px;
}

#block-user-login .form-submit,
#bd #block-user-0 .form-submit {
  background: #18729d;
  border: 0;
  @include border-radius(3px);
  color: #fff;
  font-size: 0.933em; /* 14px relative to 15px */
  height: 30px;
  text-transform: uppercase;
  width: 105px;
}


#block-user-login form .item-list ul {
  margin: 10px 0;
  padding: 0;
}

#block-user-login form .item-list ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#block-user-login form .item-list ul li a {
  font-size: 0.867em; /* 13px relative to 15px */
  text-decoration: none;
}

#block-user-login .item-list li.first {
  display: none;
}

/* Committee/Group pages login form */
#bd #block-user-0 {
  float:left;
  width:215px;
}

#bd #block-user-0 .item-list {
  display: none;
}


/* What's New Sidebar Blocks and User Login block on Committee pages */

.dc-sub a {
  text-decoration: none;
}

#block-views-blog-block-2,
#block-views-blog-block-3,
#block-views-events-block-1,
#block-views-events-block-2,
#block-views-trials-block-1,
#block-user-0 {
  background: none repeat scroll 0 0 #efefef;
  border-bottom: 5px solid $gray;
  border-top: 5px solid $gray;
  padding: 20px;
}


/* Organizations */

#block-views-resources-block_1 h3,
#block-views-resources-block_4 h3 {
  color: #F68115;
  font-size: 1.133em; /* 17px relative to 15px */
  font-weight: bold;
}

#block-views-contacts-block_1 {
  margin:0 0 10px 0;
}

#block-views-contacts-block_1 .view-contacts {
  margin-top:0;
}

/* Homepage */
.front #content .entry-content .field-name-body {
  position:relative;
  h2 {
    background-color: rgba(0,0,0,0.75);
    color: $white;
    padding: rem(2.6);
    width: 59%;
    top: 41%;
    line-height: rem(3.8);
    font-size: rem(2.6);
    font-weight: normal;
    position:absolute;
  }
}

#block-block-12, #block-block-13, #block-block-14 {
  background-color: $gray;
  width: 31%;
  padding: rem(2.5);
  position: relative;
  padding: rem(2.2) rem(1.2) rem(2.2) rem(2.2);
  float: left;

  h2 {
    font-size: rem(2.2);
    line-height: rem(3);
    margin-bottom: rem(1.2);
    padding-left: rem(2.6);
    background: transparent url('/sites/all/themes/coppul/images/icon-browse-resources.png') top left no-repeat;
  }

  .block-content {
    p {
      font-size: rem(1.6);
      line-height: rem(2.4);
      margin-bottom: 0;
    }
  }

  &:after {
    box-sizing: border-box;
  }
}

#block-block-13 {
  margin: 0 $gutter;
  h2 {
    padding-left: rem(4);
    background-image: url('/sites/all/themes/coppul/images/icon-member-info.png');
  }
}

#block-block-14 {
  h2 {
    background-image: url('/sites/all/themes/coppul/images/icon-discover.png');
  }
}

#block-block-12 {
  margin-bottom: rem(3.5);
  float: right;
  &:after {
    clear: both;
    content: " ";
    display: table;
  }

  h2 {
    padding-left: rem(3.2);
  }
}

#block-views-blog-block-6 {
  clear: both;
}
