@import "settings";
@import "compass/css3";
@import "compass/css3/pie";

// $social-spacing: 15px;
// @import "icons/social/*.png";
// @include all-social-sprites;


/********************************************

  Page.scss

  All styles for any page.tpl.php templates.
  This file will include background styles
  gradients, headers, footers etc.

********************************************/

  //DEBUG. REMOVE THIS!!!!!!!
/*
    #page:before{
      content: " 5 ";
      display: block;
      position: absolute;
      background: white;
      height: rem(4); width: rem(4); left: rem(1); top: rem(4);
      font-size: rem(4);
      color: black;
      line-height: rem(3.6);
      border: 4px solid black;
      text-align: center;
      z-index: 500;
    }
  @include mq(5) { }
  @include mq(4) { #page:before{ content: "4";} }
  @include mq(3) { #page:before{ content: "3";} }
  @include mq(2) { #page:before{ content: "2";} }
  @include mq(1) { #page:before{ content: "1";} }

*/

/* -----------------------------------------
   General Page Styling
----------------------------------------- */

  html, body {
    overflow-x: hidden;
  }

  body {
    background-color: $body-bg;
  }

  .three, .four{ min-height: 1px; }

  table {
    width: 100%;
    border: 1px solid $gray_7;
  }

  table thead {
    background: none;
  }

  #access {
    position:relative;
  }

  #main {
    margin-top: 40px;
  }

  .access-outer {
    background: $secondaryColor;
  }

  ul.links {
   list-style: none;
   padding-left: 0px;
   .print_html { margin-left: 0; }
  }

  //.button { @include le-bouton; }

/* Print module styles */
.print-site_name, .print-breadcrumb, .print-content .submitted {
  display: none;
}

  div[class^=print-] {
    margin: auto 1em;
      * {
        color: #000;
        font-family: sans-serif;
      }
  }

/* -----------------------------------------
   Header / Footer & logo
----------------------------------------- */

.header-outer {
    background: url('../images/header-background.png') repeat;
}

#logo {
  margin: rem(2.9) 0 rem(1) 0;
}

#footer {
  border-top: 1px solid $divider-gray;
  margin-top: 20px;
  max-width: rem(92);
  padding-bottom: rem(6);
  padding-top: rem(2);
  position: relative;

  &:before {
    border-top: 1px solid $divider-highlight;
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
  }

}

/* -----------------------------------------
   Common spacings
----------------------------------------- */

  #sidebar-right .block { margin-bottom: $gutter; }


/* -----------------------------------------
   Generic content type formatting
----------------------------------------- */

#content > article:not(.node-contact),
.content-article {

  .columns:last-child { float: left; }

  .field-item {
    border-bottom: 1px dotted $gray_4;
    margin-bottom: rem(2);
    padding-bottom: rem(1);
  }

  .field-name-field-private-note {
    background: $gray_5;
    border-bottom-style: none;
    padding:1em;
  }

  .field-name-field-vendor-info,
  .field-name-field-blog-categories {
    border-bottom: none;
  }

  div[class^=field-group-simple-div] {
    margin-bottom: rem(2);
    .field-item:not(.field-name-field-resource-vend-desc) {
      border-bottom-style: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  fieldset {
    @include color-panel($gray_11, $gray_10);
  }

  .collapsed {
    background: none;
    border: none;
    padding-bottom:1em;
  }

  .collapsed,
  .collapsible {
    legend {
      margin-left: rem(-2.2);
      a {
        @extend .button;
        background: $gray_1;
        border-bottom: 1px solid $gray_2;
        -moz-border-radius: rem(.5);
        -webkit-border-radius: rem(.5);
        border-radius: rem(.5);
        border-left-style: none;
        border-right-style: none;
        border-top: 1px solid $gray_3;
        padding: rem(.5) rem(.8);
      }
    }
  }
}

/* -----------------------------------------
   Content Types
----------------------------------------- */

body.node-type-resource {
  article {
    @extend .content-article;
  }
  .field-resource-vendor-ref {
    float: right;
    padding-bottom: rem(2);
    padding-left: rem(2);
  }
  .help {
    font-size: rem(1.1);
    margin-top: rem(.5);
  }
  #return-res {
    background: url('../images/return-resources.png') no-repeat right 0;
    font-size: rem(1.2);
    font-weight: bold;
    height: rem(3);
    position: absolute;
    right: rem(1.5);
    top: rem(5.2);
    a {
      color: $gray_8;
      display: block;
      padding: 5px 40px 0 0;
    }
  }
}

body.node-type-organization article,
body.node-type-event article,
body.node-type-vendor article,
body.node-type-trial-renewal article {
  @extend .content-article;
}

body.page-user .profile {
  @extend .content-article;
  .row-container {
    border: 1px solid $gray_6;
    padding: rem(2) 0;
    .row {
      margin: 0 auto;
      width: rem(90);
    }
    .one {
      .field-item {
        border-bottom-style: none;
      }
    }
  }
}

body.node-type-contact .node .field-item {
  padding-bottom: 1em;
}

body.node-type-contact .node .field-label,
body.node-type-license .node .field-label {
  color: $secondaryColor;
  font-size: 1.133em;
  font-weight: bold;
  margin: 0.75em 0 15px 0;
}

.field-name-field-resource-vend-desc {
  padding-bottom: 15px;
}

body.node-type-contact .field-name-field-contact-groups {
  position: absolute;
  right: 50%;
  top: -13px;
}

/* -----------------------------------------
   Individual fields
----------------------------------------- */
.st_sharethis {
  font-size: 0.867em;
}

.more-link {
  background: $mainColor;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  font-size: 0.933em; /* 14px relative to 15px */
  font-weight: bold;
  height: 32px;
  margin-top: 10px;
  padding-top: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 105px;
}

.more-link a {
  color: #fff;
  text-decoration: none;
}

/* -----------------------------------------
   Front page specific
----------------------------------------- */
.front #content .entry-content h2 {
  color: $mainColor;
  font-size: 1.333em;
  padding-bottom: 20px;
}

.front #content > article .field-item {
  border: 0;
}

.front .submitted {
  display: none;
}

.front #content .view-Blog ul {
  padding-left: 0;
}

.front #content .view-Blog .more-link {
  background: $mainColor;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  font-size: 0.81em;
  font-weight: bold;
  height: 32px;
  margin-top: 10px;
  padding-top: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 130px;

  a {
    color: #fff;
    text-decoration: none;
  }
}


/* -----------------------------------------
   Views
----------------------------------------- */

#block-views-contacts-by-group-block {
  @include color-panel($gray_13, $gray_11);
}


/* -----------------------------------------
   UI Elements
----------------------------------------- */

.button {
  &:hover,
  &:active,
  &:focus {
    background: $gray_9;
  }
}

#breadcrumb {
  height: $gutter;
  padding-top: rem(0.7);
  padding-left: $gutter;
}

ul.pagination {
  margin-top: 15px;
  text-align: left;
  li {
    float: none;
    display: inline-block;
    margin: 0;

    .first {
      padding-left: 0;
      margin-left: 0;
    }
  }
}


/* Tab styling */
div.drupal_tabs {
  background:$gray_6; overflow:auto; margin:18px 0 0 0; padding:4px 2px;
  -moz-border-radius:6px; -webkit-border-radius:6px;
}

  dl.tabs.primary,
  dl.tabs.secondary {
    border-style:none; margin:0; padding:0;
  }

  dl.tabs.primary {
    float:left;
  }

    dl.tabs.primary dd {
      display:inline;margin:0;padding:0;
    }

      dl.tabs.primary dd a {
        background:$white;border-style:none;color:$gray_9; display:block; font-weight:bold; float:left; margin:0 2px; padding:6px 12px; text-transform:uppercase;
        -moz-border-radius:4px; -webkit-border-radius:4px;
        text-decoration: none;
      }

      dl.tabs.primary dd a:hover,
      dl.tabs.primary dd a:active {
        background:$gray_9;
        color:$white;
      }

      dl.tabs.primary dd.active a {
        background:$gray_9; color:$white;
      }

    dl.tabs.secondary {
      border-top:1px solid $white; clear:both; display:block; margin:0 2px; padding:0 0 4px 0; position:relative; top:4px;
    }

      dl.tabs.secondary dd {
        border-style:none; display:block; float:left; margin:0 !important; padding:6px 0;
      }

        dl.tabs.secondary dd a {
          border-bottom-style:none; border-right:1px solid $white; display:block; float:left; font-weight:bold; margin-right:9px; padding:0 9px 0 0;
        }


/* -----------------------------------------
   Forms
----------------------------------------- */

.standard-form {
  .button {
    @include le-bouton;
  }
}

#user-login,
#search-form {
  @extend .standard-form;
}

/* Tabs Styles */
/* line 742, ../sass/_views.scss */
.page-organizations dl.primary,
.page-licenses-products dl.primary,
.page-licenses dl.primary {
  border: none;
  margin: 0;
  padding: 0;
 }

/* line 750, ../sass/_views.scss */
.page-organizations dl.tabs.primary dd,
.page-licenses-products dl.tabs.primary dd,
.page-licenses dl.tabs.primary dd {
  /* display: block; */
  position: relative;
  margin: -2px 0 0;
 }

/* line 758, ../sass/_views.scss */
.page-organizations div.drupal_tabs,
.page-licenses-products div.drupal_tabs,
.page-licenses div.drupal_tabs {
  border-top: 1px dotted $divider-gray;
  border-bottom: 1px dotted #efefef;
  background: transparent;
  border-radius: 0;
  overflow: hidden;
  padding-top: 3px;
  width: 681px;
  position: relative;
 }

/* line 772, ../sass/_views.scss */
.page-organizations dl.tabs.primary,
.page-licenses-products dl.tabs.primary,
.page-licenses dl.tabs.primary {
  font-size: 0.867em;
  /* 13px relative to 15px */
  float: left;
  height: 40px;
  margin-bottom: 5px;
  padding: 0 0 7px 0;
  position: relative;
  width: 100%;
 }

/* line 784, ../sass/_views.scss */
li.btn {
  width: 168px;
 }

/* line 791, ../sass/_views.scss */
.page-organizations dl.tabs.primary dd a,
.page-licenses-products dl.tabs.primary dd a,
.page-licenses dl.tabs.primary dd a {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  color: #9e9993;
  float: left;
  font-weight: 500;
  height: 40px;
  margin: 2px 2px 0 0;
  padding: 9px 10px 0;
  text-transform: uppercase;
  text-decoration: none;
 }

/* line 809, ../sass/_views.scss */
.page-organizations dl.tabs.primary dd.active a,
.page-licenses-products dl.tabs.primary dd.active a,
.page-licenses dl.tabs.primary dd.active a {
  background: #efefef;
  color: #2a2724;
 }

/* line 816, ../sass/_views.scss */
.page-organizations dl.tabs.primary dd a:hover,
.page-licenses-products dl.tabs.primary dd a:hover,
.page-licenses dl.tabs.primary dd a:hover {
  background: #efefef;
  color: #2a2724;
 }


/* -----------------------------------------
   Term Landing Pages (Committee pages)
----------------------------------------- */
.vocabulary-groups {
  border-bottom: 1px dotted $gray_6;
}

.image-right, .image-right img {
  float: right;
  padding: 0 0 rem(1) rem(1);

  &:after {
    content: '';
    clear: both;
  }
}

.image-left, .image-left img {
  float: right;
  padding: 0 rem(1) rem(1) 0;

  &:after {
    content: '';
    clear: both;
  }
}
