@import "settings";

/********************************************

  Let's talk about Type:

  Anything to do with font size/face or colour
  is in this file.

********************************************/

/* -----------------------------------------
   Our Fonts
----------------------------------------- */
@include font-face ( "source_sans_probold", font-files('sourcesanspro-bold-webfont.svg#source_sans_probold', 'svg', 'sourcesanspro-bold-webfont.woff', 'woff', 'sourcesanspro-bold-webfont.ttf', 'truetype'), 'sourcesanspro-bold-webfont.eot');
@include font-face ( "source_sans_proregular", font-files('sourcesanspro-regular-webfont.svg#source_sans_proregular', 'svg', 'sourcesanspro-regular-webfont.woff', 'woff', 'sourcesanspro-regular-webfont.ttf', 'truetype'), 'sourcesanspro-regular-webfont.eot');
@include font-face ( "source_sans_prosemibold", font-files('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold', 'svg', 'sourcesanspro-regular-webfont.woff', 'woff', 'sourcesanspro-semibold-webfont.ttf', 'truetype'), 'sourcesanspro-semibold-webfont.eot');

// Font Families
// ------------------------------------------------------
// Let's create some sensible font stacks

$ff-ss-reg: "source_sans_proregular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$ff-ss-bold:  "source_sans_probold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$ff-ss-semibold:  "source_sans_prosemibold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$ff-arial:  Arial, Helvetica, Sans-serif;
$ff-helvetica:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


html { -webkit-font-smoothing: antialiased; }

/* -----------------------------------------
   Global Rules and the article type:

   This is the core of the taxonomy of the
   site so we put it right up at the top

   Everything else will derive from this
----------------------------------------- */

// ------- <Reusable types> ------- //

a {
  color: rgba(2, 139, 174, 1);
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $secondaryColor;
  }
}

.underline-link {
  text-decoration: none;
}


// ------- </Reusable types> ------- //

body{ color: $body_font_color; }

body, p, ul {
    font-family: $ff-ss-reg;
    //font-size: rem(1.8);
    line-height: 1.385;
}

#content h1#page-title{
  font-family: $ff-ss-semibold;
  font-size: rem(3.2);
  line-height: 1;
  margin-top: 0;
  padding: 0;
}

#content,
.profile,
article {
  #{headers(6)} {  }

  h1 {
    font-family: $ff-ss-semibold;
    font-size: rem(3.2);
    line-height: rem(8);
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    font-style: normal;
    color: rgba(58, 58, 59, 1);
  }

  h2 {
    color: $secondaryColor;
    font-size: rem(2.6);
    font-family: $ff-ss-semibold;
    line-height: rem(2.2);
    margin-bottom: rem(2.7);
    font-weight: 600;
    font-style: normal;
    color: rgba(50, 51, 52, 1);

  }

  h3 {
    color: rgba(239, 72, 45, 1);
    font-size: rem(2);
    font-family: $ff-ss-semibold;;
    font-weight: 600;
    font-style: normal;
    line-height: rem(4.5);
  }

  h4 {
    font-size: rem(1.2);
    font-weight: bold;
    text-transform: uppercase;
  }

  blockquote {
    p { }
  }

  ul {
    padding-left: 40px;
  }

  /*.field-label,*/
  label {
    @extend h2;
    margin-top: 0;
    /*
    color: $secondaryColor;
    font-size: rem(1.7);
    font-weight: bold;
    margin-bottom: rem(1.2);
    */
  }

}

#content article ul.links {
  padding-left: 0;
}

aside p {
  font-style: inherit;
  font-size: rem(1.5);
}

#main section .block-title{
  font-size: 1.133em;
  color: $secondaryColor;
  font-weight: bold;
}

#sidebar-right {
  .block {
    h2 {
      color: $txtColor;
      clear: both;
      font-size: 1em;
      font-weight: bold;
    }

    ul {
      padding: 0 0 0.25em 1em;
    }
  }
}

#sidebar-left {
  .block {
    h2 {
      color: $txtColor;
      clear: both;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

/* -----------------------------------------
   NAV typography:
----------------------------------------- */
nav {
  ul.menu{
    &>li.active-trail{
      a { }
    }
    &>li:hover {
      a { }
    }
  }
  a {
    font: {    };
  }
  .flyout {
    a {
    }
    a:hover {
    }

  }
}


/* -----------------------------------------
   Block typography:
----------------------------------------- */

.block {
  h2,
  h3 {
    margin: 0 0 rem(1);
  }

  h3 {
    clear: both;
    color: $gray_14;
    font-size: rem(1.5);
    font-weight: bold;
  }
}


/* -----------------------------------------
   Individual fields
----------------------------------------- */
.front #content .entry-content .field-name-body {
  h2 {
    font-size: rem(3.5);
  }
}

.field-name-field-trial-deadline {
  font-size: rem(1.8);
  text-align: center;
}


/* -----------------------------------------
   UI Elements (pagination, breadcrumbs etc.)
----------------------------------------- */
#content > article:not(.node-contact),
.content-article {
  .field-label {
    @extend h2;
    color: $orange;
    font-size: rem(2);
    margin-top: 0;
    margin-bottom: rem(1.5);
  }
  .collapsed,
  .collapsible {
    legend {
      background: transparent;
      a {
        color: $white;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.notice {
  color: #f00;
}

ul.pagination {
  li a{
  }
  li.current a{
  }
}

#breadcrumb {
  a {}
}

.more-link {
  a{
    &:hover { }
  }
}




/* -----------------------------------------
    Views
----------------------------------------- */

.view {
  a {
    text-decoration: none;
  }

  .row {
    margin-bottom: rem(1);
    margin-top: rem(1);
  }
}

#block-views-contacts-by-group-block {
  h2.block-title {
    color: $black;
  }

  h3 {
    font-size: rem(1.2);
    margin-bottom: rem(1);
    margin-top: 0;
    text-transform: uppercase;
  }
}


/* -----------------------------------------
   Forms
----------------------------------------- */

.search-results {
  dt {
    a {
      text-decoration: underline;
    }
  }
}
