
.icon-right-dir:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-right-circled:before { content: '\e804'; } /* '' */
.icon-down-circled:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-minus-circled:before { content: '\e807'; } /* '' */
.icon-menu-1:before { content: '\e808'; } /* '' */
.icon-dot:before { content: '\e809'; } /* '' */